<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

@if (loading) {
    <div class="splash h-full p-20">
        <div class="splash-img h-full flex items-center justify-center">
            <mat-spinner class="tertiary-spinner"></mat-spinner>
        </div>
    </div>
} @else {
    <div class="login-background pt-24 pl-24 h-full">
        @if (currentUserState$ | async; as userState) {
            @if (userState.status === 'success') {
                <page-content [title]="'Success'">
                    <div class="text-base">Already logged in. Click home to return to canvas.</div>
                </page-content>
            } @else {
                <login-form></login-form>
            }
        }
    </div>
}
