<!--
~  Licensed to the Apache Software Foundation (ASF) under one or more
~  contributor license agreements.  See the NOTICE file distributed with
~  this work for additional information regarding copyright ownership.
~  The ASF licenses this file to You under the Apache License, Version 2.0
~  (the "License"); you may not use this file except in compliance with
~  the License.  You may obtain a copy of the License at
~
~     http://www.apache.org/licenses/LICENSE-2.0
~
~  Unless required by applicable law or agreed to in writing, software
~  distributed under the License is distributed on an "AS IS" BASIS,
~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~  See the License for the specific language governing permissions and
~  limitations under the License.
-->
<div class="user-table h-full flex flex-col">
    <div class="flex justify-between">
        <div>
            <div class="accent-color font-medium">Displaying {{ filteredCount }} of {{ totalCount }}</div>
            <form [formGroup]="filterForm">
                <div class="flex pt-2">
                    <div class="mr-2">
                        <mat-form-field>
                            <mat-label>Filter</mat-label>
                            <input matInput type="text" class="small" formControlName="filterTerm" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Filter By</mat-label>
                            <mat-select formControlName="filterColumn">
                                <mat-option value="user"> user</mat-option>
                                <mat-option value="membership"> membership</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="flex flex-col justify-center">
            @if (canModifyTenants(currentUser)) {
                <button mat-icon-button color="primary" (click)="createClicked()">
                    <i class="fa fa-plus"></i>
                </button>
            }
        </div>
    </div>
    <div class="flex-1 relative">
        <div class="listing-table overflow-y-auto absolute inset-0">
            <table
                mat-table
                [dataSource]="dataSource"
                matSort
                matSortDisableClear
                (matSortChange)="updateSort($event)"
                [matSortActive]="sort.active"
                [matSortDirection]="sort.direction">
                <!-- User column -->
                <ng-container matColumnDef="user">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
                    <td mat-cell *matCellDef="let item" class="items-center">
                        @if (item.tenantType === 'userGroup') {
                            <i class="fa fa-users primary-color mr-3"></i>
                        }
                        {{ item.user }}
                    </td>
                </ng-container>

                <!-- Membership Column -->
                <ng-container matColumnDef="membership">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Membership</th>
                    <td mat-cell *matCellDef="let item">
                        {{ item.tenantType === 'user' ? 'Member of' : 'Members' }}: {{ formatMembership(item) }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let item">
                        <div class="flex items-center gap-x-3">
                            @if (canEditOrDelete(currentUser, item)) {
                                <div
                                    class="pointer fa fa-pencil primary-color"
                                    title="Edit"
                                    (click)="editClicked(item, $event)"></div>
                            }
                            @if (canEditOrDelete(currentUser, item)) {
                                <div
                                    class="pointer fa fa-trash primary-color"
                                    title="Remove"
                                    (click)="deleteClicked(item)"></div>
                            }
                            @if (hasAccessPolicies(item)) {
                                <div
                                    class="pointer fa fa-key primary-color"
                                    title="View User Policies"
                                    (click)="viewAccessPoliciesClicked(item, $event)"></div>
                            }
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; let even = even; columns: displayedColumns"
                    (click)="select(row)"
                    [class.selected]="isSelected(row)"
                    [class.even]="even"></tr>
            </table>
        </div>
    </div>
</div>
