<div class="row">
    <div class="large-12 columns footer">
        <a href="http://www.apache.org">
            <img id="asf-logo" alt="Apache Software Foundation" src="images/feather-small.gif">
        </a>
        <div id="copyright">
            <p>Copyright &#169; 2015 The Apache Software Foundation, Licensed under the <a
                    href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br/>Apache, the
                Apache feather logo, NiFi, Apache NiFi and the project logo are trademarks of The Apache Software
                Foundation.</p>
        </div>
    </div>
</div>
