<div class="row">
    <div class="large-12 columns footer">
        <div class="disclaimer">
            <p>
                Disclaimer: Apache NiFi is an effort undergoing incubation at the Apache Software Foundation (ASF),
                sponsored by the Apache Incubator PMC. Incubation is required of all newly accepted projects until 
                a further review indicates that the infrastructure, communications, and decision making process 
                have stabilized in a manner consistent with other successful ASF projects. While incubation status 
                is not necessarily a reflection of the completeness or stability of the code, it does indicate that 
                the project has yet to be fully endorsed by the ASF.
            </p>
        </div>
        <a href="http://www.apache.org">
            <img id="asf-logo" alt="Apache Software Foundation" src="images/feather-small.gif">
        </a>
        <a href="http://incubator.apache.org/">
            <img id="incubator-logo" alt="Apache Incubator" src="images/egg-logo.png">
        </a>

        <div id="copyright">
            <p>Copyright &#169; 2014 The Apache Software Foundation, Licensed under the <a
                    href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a>.<br/>Apache, the
                Apache feather logo, and the Apache Incubator project logo are trademarks of The Apache Software
                Foundation.</p>
        </div>
    </div>
</div>