---
title: Apache NiFi Downloads
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> Downloads
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p>To verify the downloads please follow these <a href="http://www.apache.org/info/verification.html">procedures</a>
            using these <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/KEYS">KEYS</a></p>
        <p>If a download is not found please allow up to 24 hours for the mirrors to sync.</p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h2>Releases</h2>
        <ul>
            <li>0.1.0-incubating
                <ul>
                    <li><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12316020&version=12329276">Release Notes</a></li>
                    <li>
                        Sources:
                        <ul>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-source-release.zip">nifi-0.1.0-incubating-source-release.zip</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-source-release.zip.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-source-release.zip.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-source-release.zip.sha1">sha1</a> )</li>
                        </ul>
                    </li>
                    <li>
                        Binaries
                        <ul>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.tar.gz">nifi-0.1.0-incubating-bin.tar.gz</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.tar.gz.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.tar.gz.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.tar.gz.sha1">sha1</a> )</li>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.zip">nifi-0.1.0-incubating-bin.zip</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.zip.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.zip.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.1.0-incubating/nifi-0.1.0-incubating-bin.zip.sha1">sha1</a> )</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>0.0.2-incubating
                <ul>
                    <li><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12316020&version=12329373">Release Notes</a></li>
                    <li>
                        Sources:
                        <ul>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-source-release.zip">nifi-0.0.2-incubating-source-release.zip</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-source-release.zip.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-source-release.zip.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-source-release.zip.sha1">sha1</a> )</li>
                        </ul>
                    </li>
                    <li>
                        Binaries
                        <ul>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.tar.gz">nifi-0.0.2-incubating-bin.tar.gz</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.tar.gz.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.tar.gz.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.tar.gz.sha1">sha1</a> )</li>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.zip">nifi-0.0.2-incubating-bin.zip</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.zip.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.zip.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.2-incubating/nifi-0.0.2-incubating-bin.zip.sha1">sha1</a> )</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>0.0.1-incubating
                <ul>
                    <li><a href="https://issues.apache.org/jira/secure/ReleaseNote.jspa?projectId=12316020&amp;version=12329078">Release Notes</a></li>
                    <li>
                        Sources:
                        <ul>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-source-release.zip">nifi-0.0.1-incubating-source-release.zip</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-source-release.zip.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-source-release.zip.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-source-release.zip.sha1">sha1</a> )</li>
                        </ul>
                    </li>
                    <li>
                        Binaries
                        <ul>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.tar.gz">nifi-0.0.1-incubating-bin.tar.gz</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.tar.gz.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.tar.gz.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.tar.gz.sha1">sha1</a> )</li>
                            <li><a href="https://www.apache.org/dyn/closer.cgi?path=/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.zip">nifi-0.0.1-incubating-bin.zip</a> ( <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.zip.asc">asc</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.zip.md5">md5</a>, <a href="https://dist.apache.org/repos/dist/release/incubator/nifi/0.0.1-incubating/nifi-0.0.1-incubating-bin.zip.sha1">sha1</a> )</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
