---
title: Apache NiFi FAQs
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> FAQs
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <ul>
            <li>
                <p class="description"><b>How do you pronounce NiFi?</b></p>
                <p class="description">"nye fye" (nī fī) is the preferred pronunciation.</p>
            </li>
            <li>
                <p class="description"><b>Where can I find documentation on how to understand and configure NiFi?</b></p>
                <ul>
                    <li>Documentation is available under the <a href="docs.html">NiFi Docs</a> link within the Documentation dropdown.</li>
                    <li>A <a href="developer-guide.html">Developer Guide</a> is also available under the Development dropdown.</li>
                    <li>View the <a href="https://cwiki.apache.org/confluence/display/NIFI">Apache NiFi Wiki</a> for additional information related to the project as well as how to contribute.</li>
                    <li>For more information on presently outstanding documentation work <a href="https://issues.apache.org/jira/browse/NIFI-162?jql=project%20%3D%20NIFI%20AND%20resolution%20%3D%20Unresolved%20AND%20component%20%3D%20%22Documentation%20%26%20Website%22%20ORDER%20BY%20priority%20DESC">please click here</a>.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
