---
title: Apache NiFi Mailing Lists
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> Mailing Lists
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p class="description">
            These are the mailing lists that have been established for this project. For each list, there is a subscribe, unsubscribe, and an archive link.
        </p>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table>
            <tr>
                <th>Name</th>
                <th>Subscribe</th>
                <th>Unsubscribe</th>
                <th>Post</th>
                <th>Archive</th>
            </tr>
            <tr>
                <td>Developers Mailing List</td>
                <td><a class="externalLink" href="mailto:dev-subscribe@nifi.incubator.apache.org">Subscribe</a></td>
                <td><a class="externalLink" href="mailto:dev-unsubscribe@nifi.incubator.apache.org">Unsubscribe</a></td>
                <td><a class="externalLink" href="mailto:dev@nifi.incubator.apache.org">Post</a></td>
                <td><a class="externalLink" href="http://mail-archives.apache.org/mod_mbox/incubator-nifi-dev/">mail-archives.apache.org</a></td>
            </tr>
            <tr>
                <td>Commits Mailing List</td>
                <td><a class="externalLink" href="mailto:commits-subscribe@nifi.incubator.apache.org">Subscribe</a></td>
                <td><a class="externalLink" href="mailto:commits-unsubscribe@nifi.incubator.apache.org">Unsubscribe</a></td>
                <td><a class="externalLink" href="mailto:commits@nifi.incubator.apache.org">Post</a></td>
                <td><a class="externalLink" href="http://mail-archives.apache.org/mod_mbox/incubator-nifi-commits/">mail-archives.apache.org</a></td>
            </tr>
        </table>
    </div>
</div>
<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h2 class="nifi-txt">
            <span>
                Mailing List Archives
            </span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p class="description">
            Some other popular archive sources which are not part of the official Apache archives.
        </p>
        <ul>
            <li>
                <a href="http://apache-nifi-incubating-developer-list.39713.n7.nabble.com/">Developer List archive on Nabble</a>
            </li>
        </ul>
    </div>
</div>
