---
title: Apache NiFi Team
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> Team
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p class="description">A successful project requires many people to play many roles. Some members write code, provide project mentorship, or author documentation. Others are valuable as testers, submitting patches and suggestions.</p>
        <p class="description">The team is comprised of Project Management Committee Members and Contributors. Members have direct access to the source of a project and actively evolve the code-base. Contributors improve the project through submission of patches and suggestions to the Members. The number of Contributors to the project is unbounded. Get involved today. All contributions to the project are greatly appreciated.</p>
    </div>
</div>
<div class="medium-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h2 class="nifi-txt">
            <span>
                PPMC Members
            </span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Affiliation</th>
            </tr>
            <tr>
                <td>aldrin</td>
                <td>Aldrin Piri</td>
                <td></td>
            </tr>
            <tr>
                <td>apurtell</td>
                <td>Andrew Purtell</td>
                <td>Mentor</td>
            </tr>
            <tr>
                <td>arvind</td>
                <td>Arvind Prabhakar </td>
                <td>Mentor</td>
            </tr>
            <tr>
                <td>billie</td>
                <td>Billie Rinaldi</td>
                <td>Mentor</td>
            </tr>
            <tr>
                <td>bimargulies</td>
                <td>Benson Margulies</td>
                <td>Champion</td>
            </tr>
            <tr>
                <td>brock</td>
                <td>Brock Noland</td>
                <td>Mentor</td>
            </tr>
            <tr>
                <td>devriesb</td>
                <td>Brandon DeVries</td>
                <td></td>
            </tr>
            <tr>
                <td>drew</td>
                <td>Drew Farris</td>
                <td>Mentor</td>
            </tr>
            <tr>
                <td>jcarey</td>
                <td>Jason Carey</td>
                <td></td>
            </tr>
            <tr>
                <td>markap14</td>
                <td>Mark Payne</td>
                <td></td>
            </tr>
            <tr>
                <td>joewitt</td>
                <td>Joe Witt</td>
                <td></td>
            </tr>
            <tr>
                <td>jbarnabee</td>
                <td>Jenn Barnabee</td>
                <td></td>
            </tr>
            <tr>
                <td>mcgilman</td>
                <td>Matt Gilman</td>
                <td></td>
            </tr>
            <tr>
                <td>taftster</td>
                <td>Adam Taft</td>
                <td></td>
            </tr>
            <tr>
                <td>tkurc</td>
                <td>Tony Kurc</td>
                <td></td>
            </tr>
            <tr>
                <td>wikier</td>
                <td>Sergio Fernandez </td>
                <td>Mentor</td>
            </tr>
			<tr>
                <td>danbress</td>
                <td>Dan Bress</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>