---
title: Apache NiFi Roadmap
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns">
        <h1 class="nifi-txt">
            <span>
                Apache <span class="ni">ni</span><span class="fi">fi</span> Roadmap
            </span>
        </h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <h3 class="nifi-txt">
            <span>
                First steps
            </span>
        </h3>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <p class="description">
            Initial work on Apache NiFi (incubating) will be focused on an initial incubating release. This means, migrating to apache infrastructure, using apache license compatible dependencies, developing developer documentation, and working out bugs introduced or discovered during this process.
        </p>
    </div>
</div>
