---
title: Apache NiFi Screencasts
---

<div class="large-space"></div>
<div class="row">
    <div class="large-12 columns features">
        <h2>Screencasts</h2>
    </div>
</div>
<div class="medium-space"></div>
<div class="row">
    <div class="large-12 columns">
        <a href="#" data-reveal-id="toolbar-overview">NiFi Toolbar Overview</a>
        <div id="toolbar-overview" class="reveal-modal medium" data-reveal>
            <h2>NiFi Toolbar Overview</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LGXRAVUzL4U?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="build-a-flow-1">Build a Simple Flow - Part 1</a>
        <div id="build-a-flow-1" class="reveal-modal medium" data-reveal>
            <h2>Build a Simple Flow - Part 1</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jctMMHTdTQI?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="build-a-flow-2">Build a Simple Flow - Part 2</a>
        <div id="build-a-flow-2" class="reveal-modal medium" data-reveal>
            <h2>Build a Simple Flow - Part 2</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/X6bPFgaBDIo?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="creating-process-groups">Creating Process Groups</a>
        <div id="creating-process-groups" class="reveal-modal medium" data-reveal>
            <h2>Creating Process Groups</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hAveiDgDj-8?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="creating-templates">Creating Templates</a>
        <div id="creating-templates" class="reveal-modal medium" data-reveal>
            <h2>Creating Templates</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PpmL-IMoCnU?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="summary-overview">Summary Overview</a>
        <div id="summary-overview" class="reveal-modal medium" data-reveal>
            <h2>Summary Overview</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XfY9AEOYLHI?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="provenance-overview">Provenance Overview</a>
        <div id="provenance-overview" class="reveal-modal medium" data-reveal>
            <h2>Summary Page Overview</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WUKXed_bLws?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
        <a href="#" data-reveal-id="managing-templates">Managing Templates</a>
        <div id="managing-templates" class="reveal-modal medium" data-reveal>
            <h2>Managing Templates</h2>
            <div class="flex-video widescreen" style="display: block;">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HU5_3PlNmtQ?list=PLHre9pIBAgc4e-tiq9OIXkWJX8bVXuqlG" frameborder="0" allowfullscreen></iframe>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        <br/>
    </div>
</div>