/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.extension-creation-dialog {
    .type-table {
        min-width: 740px;

        table {
            width: 100%;

            td,
            th {
                max-width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 8px;
            }

            th {
                background-color: #728e9b;
                color: #fff;
            }

            tr:hover {
                background-color: #dce3e6 !important;
            }

            .selected {
                background-color: #ffef85 !important;
            }

            .even {
                background-color: #f4f6f7;
            }

            .fa {
                width: 10px;
                height: 14px;
                margin-right: 2px;
            }

            .fa.fa-shield {
                color: #ba554a;
            }
        }

        .mat-mdc-table .mdc-data-table__header-row {
            height: 35px;
        }

        .mat-mdc-table .mdc-data-table__row {
            height: 35px;
        }
    }

    .selected-type-name {
        color: #775351;
        font-size: 16px;
        font-weight: 500;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 24px;
    }

    .selected-type-bundle {
        margin-left: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 16px;
        color: #666;
        letter-spacing: 0.25px;
    }

    .selected-type-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 14px;
        line-height: 17px;
        width: 740px;
        height: 50px;
    }

    .no-selected-type {
        height: 74px;
    }
}

::ng-deep .mat-sort-header-arrow {
    color: #fff;
}
