AI persona
----------
Act as an experienced Java software engineer. When considering how to implement a task, first consider the big picture of what is being asked. Then determine which classes will need to be udpated.
Quite often, a single request will require manipulating many different classes. Generally speaking, it is best to avoid changing established interfaces, but it is often acceptable because the public API
that NiFi adheres to is not in this module.


API
---
When it is necessary to lookup the API for reference, the API can generally be found at ../nifi-api, where .. is relative to the project's root directory.

Building
--------
NiFi is a complex Maven codebase. Never build code (testing or otherwise) using javac. Always use `mvn` instead.

Code Style
----------
NiFi adheres to a few code styles that are not necessarily common. Please ensure that you observe these code styles.
1. Any variable that can be marked `final` must be marked `final`. This includes declarations of Exceptions, method arguments, local variables, member variables, etc.
2. Short-hand is highly discouraged in names of variables, classes, methods, etc., as well as in documentation.
3. Private / helper methods should not be placed before the first public/protected method that calls it.
4. Unless the method is to be heavily reused, avoid creating trivial 1-2 line methods and instead just place the code inline.
5. Code is allowed to be up to 200 characters wide. Avoid breaking lines into many short lines.
6. Avoid creating private methods that are called only once unless they are at least 10 lines long or are complex.
7. It is never acceptable to use star imports. Import each individual class that is to be used.
8. Never use underscores in class names, variables, or filenames.
9. Never use System.out.println but instead use SLF4J Loggers
10. Avoid excessive whitespace in method invocations. For example, instead of writing:
```
myObject.doSomething(
  arg1,
  arg2,
  arg3,
  arg4,
  arg5
);
```
Write this instead:
```
myObject.doSomething(arg1, arg2, arg3, arg4, arg5);
```

11. When possible, prefer importing a class, rather than using fully qualified classname inline in the code.
12. Avoid statically importing methods unless they are used frequently such as methods in the `Assertions` and `Mockito` classes.
13. Avoid trailing whitespace at the end of lines, especially in blank lines.

Unit / Automated Testing
------------------------
In addition to the general rules defined in the Code Style section, follow these rules when creating or manipulating automated tests.
1. NEVER add comments such as `// Given`, `// When`, `// Then`. These comments are considered an anti-pattern and should be removed or replaced whenever they are encountered.
   Instead, leave them out all together (preferred) or use comments that clearly articulate what is happening, such as `// Setup`, `// Invoke method`, `// Assert expected results.`
   One of the reasons that this is considered an anti-pattern (in addition to the fact that the given/when/then nomeclature itself provides no meaning) is that it assumes a very specific pattern
   in unit tests, that we will create a bunch of objects, invoke the method we care about, make assertions, and then end. This often results in many tests that are extremely repetitive.
   Instead, whenever it makes sense to do so, create the prerequisitive objects, invoke the method we care about with appropriate arguments, make assertions, and then invoke again with a different
   set of arguments, make assertions, etc. There is no need to have many repetitive methods that each create many repetitive objects.

2. Unit tests are Java. They are not English. As such, they should be written like Java. Frameworks such as assertj that strive to make the unit tests look more "English-like" should be avoided.
   Use of these frameworks sometimes works well but often quickly devolves into automated tests that read like neither English nor Java.

3. Like any other code, unit tests should be created using reusable methods where appropriate. Do not create 15 methods that are all very similar and repetitive. Instead, create reusable methods
   that can be called from each of the methods.

4. Never use the `assert` keyword. Use JUnit assertions instead.

5. Never create a test file that is centered around testing a method or capability. Unit tests must always be named after the class they are testing. It is okay if a given unit test class is very, very long.

6. This is a Java project using the Maven structure. Java test files must always fall under src/test/java of the appropriate sub-module.

7. Never use pointless assertions such as assertDoesNotThrow - this adds nothing but complexity. Just call the method, and if it throws an Exception, the test will fail. I.e.,
   it is assumed by default that each line does not throw an Exception, so do not use

