# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare java and json files as Unix style line endings
# we may add other files if required
*.java text eol=lf
*.json text eol=lf

# Set bat files to crlf
*.bat text eol=crlf

# Set asc files to crlf as per
# https://www.ietf.org/mail-archive/web/openpgp/current/msg04453.html
*.asc text eol=crlf

#Handle particular text files in deterministic fashion
nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/test/resources/CompressedData/*.txt text eol=crlf
nifi-nar-bundles/nifi-standard-bundle/nifi-standard-processors/src/test/resources/TestEncryptContent/*.txt eol=crlf
