target
.project
.settings
.classpath
nbactions.xml
nb-configuration.xml
.DS_Store
.metadata
.recommenders

# Intellij
.idea/
*.iml
*.iws
*~

# nifi site
/nifi-site/nbproject/
/nifi-site/bower_components/
/nifi-site/dist/
/nifi-site/node_modules/
/nifi-site/.sass-cache
