<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<div class="new-canvas-item">
    <div class="h-16 w-16 pl-1.5 flex items-center justify-center relative icon" [class]="iconClass"></div>
    <button
        class="h-16 w-16 pl-1.5 -mt-16 flex items-center justify-center relative icon"
        [class]="isHovering() ? iconHoverClass + ' hovering' : iconClass"
        [class.dragging]="dragging"
        [disabled]="disabled"
        (mouseenter)="mouseEnter()"
        (mouseleave)="mouseLeave()"
        cdkDrag
        cdkDragBoundary="body"
        (cdkDragStarted)="onDragStarted()"
        (cdkDragEnded)="onDragEnded($event)">
        <span class="h-1 absolute left-[3px] right-[3px] bottom-0.5 component-button-grip"></span>
    </button>
</div>
