<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="flex flex-col gap-y-4">
    @if (noPorts || hasUnauthorizedPorts) {
        <div class="flex flex-col mb-5">
            <div>To Input</div>
            @if (noPorts) {
                <mat-error>{{ groupName }} does not have any local input ports.</mat-error>
            }
            @if (hasUnauthorizedPorts) {
                <mat-error>Not authorized for any local input ports in {{ groupName }}</mat-error>
            }
        </div>
    } @else {
        <mat-form-field>
            <mat-label>To Input</mat-label>
            <mat-select [(ngModel)]="selectedInputPort" (selectionChange)="handleChanged()" [disabled]="isDisabled">
                @for (item of inputPortItems; track item) {
                    @if (item.description) {
                        <mat-option
                            [value]="item.value"
                            nifiTooltip
                            [tooltipComponentType]="TextTip"
                            [tooltipInputData]="getSelectOptionTipData(item)"
                            [delayClose]="false"
                            >{{ item.text }}</mat-option
                        >
                    } @else {
                        <mat-option [value]="item.value">{{ item.text }}</mat-option>
                    }
                }
            </mat-select>
        </mat-form-field>
    }
    <div class="flex flex-col mb-5">
        <div>Within Group</div>
        <div class="accent-color font-medium">{{ groupName }}</div>
    </div>
</div>
