/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use '@angular/material' as mat;

.property-table {
    @include mat.table-density(-4);
    min-width: 740px;

    table {
        width: 100%;

        td,
        th {
            max-width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 8px;
            cursor: default;
        }

        th {
            background-color: #728e9b;
            color: #fff;
        }

        tr:hover {
            background-color: #dce3e6 !important;
        }

        .selected {
            background-color: #ffef85 !important;
        }

        .even {
            background-color: #f4f6f7;
        }

        .fa {
            width: 10px;
            height: 14px;
        }

        .mat-column-actions {
            min-width: 115px;
        }
    }
}

::ng-deep .mat-sort-header-arrow {
    color: #fff;
}
