<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<h2 mat-dialog-title>No Registry clients available</h2>
<mat-dialog-content>
    <div class="text-base">
        {{
            request.controllerPermissions.canRead
                ? 'In order to import a flow a Registry Client must be configured in Controller Settings.'
                : 'Cannot import a Flow because there are no available Registry Clients.'
        }}
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    @if (request.controllerPermissions.canRead) {
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button mat-dialog-close [routerLink]="['/settings', 'registry-clients']">Configure</button>
    } @else {
        <button mat-flat-button mat-dialog-close>Ok</button>
    }
</mat-dialog-actions>
