<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="prioritizers flex flex-col gap-y-4" cdkDropListGroup>
    <div class="flex flex-col">
        <div>Available Prioritizers</div>
        <div
            class="prioritizers-list border"
            cdkDropList
            cdkDropListSortingDisabled
            [cdkDropListDisabled]="isDisabled"
            [cdkDropListData]="availablePrioritizers"
            (cdkDropListDropped)="dropAvailable($event)">
            @for (item of availablePrioritizers; track item; let i = $index) {
                <div
                    class="prioritizer-draggable-item border-b on-surface-default m-1"
                    cdkDrag
                    cdkDragPreviewContainer="parent">
                    <ng-container
                        *ngTemplateOutlet="
                            prioritizerItem;
                            context: { $implicit: item, i: i, canClose: false }
                        "></ng-container>
                </div>
            }
        </div>
    </div>
    <div class="flex flex-col">
        <div>Selected Prioritizers</div>
        <div
            class="prioritizers-list border"
            cdkDropList
            [cdkDropListDisabled]="isDisabled"
            [cdkDropListData]="selectedPrioritizers"
            (cdkDropListDropped)="dropSelected($event)">
            @for (item of selectedPrioritizers; track item; let i = $index) {
                <div class="prioritizer-draggable-item border-b m-1" cdkDrag cdkDragPreviewContainer="parent">
                    <ng-container
                        *ngTemplateOutlet="
                            prioritizerItem;
                            context: { $implicit: item, i: i, canClose: true }
                        "></ng-container>
                </div>
            }
        </div>
    </div>
    <ng-template #prioritizerItem let-item let-i="i" let-canClose="canClose">
        <div class="flex gap-x-3 items-center">
            <div>{{ getPrioritizerLabel(item) }}</div>
            @if (hasDescription(item)) {
                <div
                    class="fa fa-question-circle primary-color"
                    nifiTooltip
                    [tooltipComponentType]="TextTip"
                    [tooltipInputData]="getDescriptionTipData(item)"></div>
            }
        </div>
        @if (canClose) {
            <button type="button" (click)="removeSelected(item, i)" [disabled]="isDisabled">
                <i class="fa fa-times primary-color"></i>
            </button>
        }
    </ng-template>
</div>
