/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body { 
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}


/*Main dialog styles*/

#threshold-header-text{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

#attribute-confirm-dialog, #threshold-confirm-dialog {
    z-index: 1303;
    display: none;
    width: 500px;
    height: 100px;
    border: 1px solid #eee;
}

#attribute-dialog-content, #threshold-dialog-content{
    font-size: 11px;
    height: 40px;
    overflow: auto;
    position: relative;
    top: -25px;
    width: 490px;
}

#error-dialog {
    z-index: 1303;
    display: none;
    width: 500px;
    height: 300px;
    border: 1px solid #eee;
}

#error-dialog-content{
    font-size: 12px;
    height: 240px;
    overflow: auto;
    position: relative;
    top: -25px;
    width: 470px;
}

#attribute-add-dialog {
    z-index: 1300;
    display: none;
    width: 250px;
    height: 365px;
    border: 1px solid #eee;
}

#attribute-edit-dialog {
    z-index: 1300;
    display: none;
    width: 250px;
    height: 250px;
    border: 1px solid #eee;
}

#attribute-filter-dialog{
    z-index: 1300;
    display: none;
    width: 250px;
    height: 195px;
    border: 1px solid #eee;
}
#threshold-filter-dialog{
    z-index: 1300;
    display: none;
    width: 250px;
    height: 245px;
    border: 1px solid #eee;
}

#threshold-edit-dialog {
    z-index: 1300;
    display: none;
    width: 250px;
    height: 360px;
    border: 1px solid #eee;
}


#threshold-add-dialog {
    z-index: 1301;
    display: none;
    width: 250px;
    height: 260px;
    border: 1px solid #eee;
}

#threshold-dialog{
    z-index: 1300;
    display: none;
    width: 900px;
    height: 520px;
    border: 1px solid #eee;
}

/*content container styles*/





#setting-title{
    width:400px;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.select-link{
    color: #598599;
    display: inline;
    font-size: 10px;
    font-weight: bold;
    position: relative;
    top: -2px;

}
.select-link:hover{
    color:silver;
    cursor:pointer;
}

.list_container{
    position: relative;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    display: block;
    overflow: hidden;
    top: 0;
}

.list-header {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    display: block;
    height: 50px;
    margin-top: 10px;
    position: relative;
}
.list-header-text {
    font-size: 12px;
    font-weight: bold;
    color:black;
    position:relative;
    top:-2px;
    display: inline;
}



#filter-selection{
    position:relative;
    top:10px; 
}

.filter-text{
    font-size:10px;
    width:200px;
    height:12px;
}
.clear-filter{
    color: #598599;
    display: inline;
    font-size: 10px;
    position: relative;
}
.clear-filter-label{
    position:relative;
    display:inline;
    font-weight: bold;
    top:-4px;
}
.clear-filter-text{
    position:relative;
    display:inline;
    color:black;
    top:-4px;
}
.dialog-list-header {
    background-color: white;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    display: inline-block;
    height: 50px;
    position: relative;
    width: 100%;
}

.error-message{
    width:100%;
    color: red;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 10px;
}

.add-text {
    float: right;
    margin-right: 5px;
    height: 19px;
    line-height: 19px;

}
.control-text {
    position:relative;
    display:inline-block;
    margin-left: 10px;
    height: 19px;
    line-height: 19px;
    top:-5px;

}
#control-box{
    display:inline-block;
    position: relative;
    top: 3px;
}

#cb_list, #cb_rule-list{
    position:relative;
    right:5px;
}

#save-cancel{
    position:relative;
    display:inline-block;
    padding-left: 5px;
}
.abbreviated-header{
    background-color:#598599; 
    color:white; 
    height:15px;
    border-right:1px solid white; 
    padding-top:2px; 
    padding-left:2px;
    margin-top:2px;
    cursor:pointer;
}
.rules-abbreviated-header{
    background-color:gray; 
    color:white; 
    height:15px;
    border-right:1px solid white; 
    padding-top:2px; 
    padding-left:2px;
    margin-top:2px;
    cursor:pointer;
}

.context-menu{
    display:none;
    position:absolute;
    z-index: 1305;
    border: solid 1px black;
    font-size: 10px;
    background-color: white;
    padding:5px;
    width:130px;
    color:black;
}



.context-control{
    cursor:pointer;
    vertical-align:middle;
    display:inline-block;
    padding-bottom: 2px;
}

.context-label{
    position:relative; 
    width:80px; 
    left:3px; 
    top:-2px;
    color:black;
}
.context-label:hover{
    color:#598599;
}

.control-container{

    cursor:pointer;

}
/*icon styles*/
.add-icon-bg {
    display:inline-block;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background: transparent url(../../nifi-web/images/buttonNewProperty.png) no-repeat scroll top left;
}

.add-icon-bg:hover {
    background: transparent url(../../nifi-web/images/buttonNewProperty.png) no-repeat scroll top right;
}

.expansion-button {
    width: 11px;
    height: 11px;
    margin-left: 5px;
    cursor: pointer;
    background: transparent url(../../nifi-web/images/buttonExpandCollapse.png) no-repeat scroll top left;
}

.checkbox-select{
    position:relative;
    padding-left:2px;
    padding-right:2px;
}

.control-style{
    padding-right:5px;

}

/*styles for attribute titles displayed in the thresholds dialog*/
.attribute-title-label {
    color: #264C58;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    vertical-align: top;
}
#attribute-info{
    position:relative;
    margin-bottom:10px;

}
.attribute-title-value {
    color: black;
    width: 240px;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

/*Autocomplete override styles */
.ac_results {
    padding: 0px;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    left:370px;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
}

.ac_loading {
    background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
    background-color: #eee;
}

.ac_over {
    background-color: #0A246A;
    color: white;
}
