/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@use '@angular/material' as mat;

.system-diagnostics {
    @include mat.button-density(-1);
    overflow-y: auto;

    .mdc-dialog__content {
        padding: 0 16px;
        font-size: 14px;

        .dialog-content {
            min-height: 500px;
            overflow-y: auto;
        }
    }

    .tab-content {
        position: relative;
        height: 460px;

        .section-header {
            color: #728e9b;
            font-size: 15px;
            font-family: 'Roboto Slab';
            font-style: normal;
            font-weight: bold;
        }
    }

    .setting-attributes-list {
        dt {
            float: left;
            clear: left;
            padding: 0 0.5em 0.2em 0;
            font-weight: bold;
        }
        dd {
            margin-left: 9em;
            padding-bottom: 0.2em;
        }
    }

    .mat-mdc-form-field {
        width: 100%;
    }

    mat-dialog-actions {
        margin-top: auto;
    }

    .repository-storage-container {
        height: 180px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 4px;
    }
}
