<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="tooltip overflow-auto">
    <ul class="flex flex-wrap gap-y-1">
        @for (bulletinEntity of data?.bulletins; track bulletinEntity) {
            @if (bulletinEntity.canRead) {
                <li>
                    <div class="inline-flex flex-wrap gap-x-1.5">
                        <div class="inline-flex flex-wrap gap-x-1.5" [copy]="bulletinEntity.bulletin.message">
                            <div>{{ bulletinEntity.bulletin.timestamp }}</div>
                            @if (bulletinEntity.nodeAddress) {
                                <div>{{ bulletinEntity.nodeAddress }}</div>
                            }
                            <div class="font-bold {{ getSeverity(bulletinEntity.bulletin.level) }}">
                                {{ bulletinEntity.bulletin.level }}
                            </div>
                        </div>
                        <pre class="whitespace-pre-wrap">{{ bulletinEntity.bulletin.message }}</pre>
                    </div>
                </li>
            }
        }
    </ul>
</div>
