/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../../assets/utils.scss' as utils;

@mixin generate-theme($material-theme, $nifi-theme) {
    // Get the color config from the theme.
    $material-theme-color-config: mat.get-color-config($material-theme);
    $nifi-theme-color-config: mat.get-color-config($nifi-theme);

    // Get the palettes from the color-config.
    $material-theme-primary-palette: map.get($material-theme-color-config, 'primary');
    $material-theme-accent-palette: map.get($material-theme-color-config, 'accent');
    $nifi-theme-surface-palette: map.get($nifi-theme-color-config, 'primary');
    $nifi-theme-success-palette: map.get($nifi-theme-color-config, 'accent');
    $nifi-theme-warn-palette: map.get($nifi-theme-color-config, 'warn');

    // Get hues from palette
    $material-theme-primary-palette-lighter: mat.get-color-from-palette($material-theme-primary-palette, lighter);
    $material-theme-primary-palette-default: mat.get-color-from-palette($material-theme-primary-palette, 'default');
    $material-theme-primary-palette-lighter-contrast: mat.get-color-from-palette(
        $material-theme-primary-palette,
        lighter-contrast
    );
    $material-theme-primary-palette-default-contrast: mat.get-color-from-palette(
        $material-theme-primary-palette,
        'default-contrast'
    );
    $material-theme-accent-palette-default: mat.get-color-from-palette($material-theme-accent-palette, 'default');
    $material-theme-accent-palette-darker: mat.get-color-from-palette($material-theme-accent-palette, 'darker');

    // Canvas colors
    $nifi-theme-surface-palette-default: mat.get-color-from-palette($nifi-theme-surface-palette, default);
    $nifi-theme-surface-palette-A200: mat.get-color-from-palette($nifi-theme-surface-palette, 'A200');
    $nifi-theme-surface-palette-A700: mat.get-color-from-palette($nifi-theme-surface-palette, 'A700');
    $nifi-theme-success-palette-lighter: mat.get-color-from-palette($nifi-theme-success-palette, lighter);
    $nifi-theme-success-palette-A700: mat.get-color-from-palette($nifi-theme-success-palette, 'A700');
    $nifi-theme-success-palette-500: mat.get-color-from-palette($nifi-theme-success-palette, 500);
    $nifi-theme-warn-palette-darker: mat.get-color-from-palette($nifi-theme-warn-palette, 'darker');
    $nifi-theme-warn-palette-800: mat.get-color-from-palette($nifi-theme-warn-palette, 800);
    $nifi-theme-warn-palette-A200: mat.get-color-from-palette($nifi-theme-warn-palette, 'A200');
    $nifi-theme-warn-palette-A400: mat.get-color-from-palette($nifi-theme-warn-palette, 'A400');
    $nifi-theme-warn-palette-A700: mat.get-color-from-palette($nifi-theme-warn-palette, 'A700');

    // Shadows should always be darker. We explicitly set this so the SVG shadows are correct in both modes.
    $drop-shadow-color: black;
    $is-dark: map-get($nifi-theme-color-config, is-dark);

    $surface: utils.get-surface($nifi-theme-color-config);
    $surface-darker: utils.get-surface($nifi-theme-color-config, darker);
    $on-surface: utils.get-on-surface($nifi-theme-color-config);
    $on-surface-lighter: utils.get-on-surface($nifi-theme-color-config, lighter);
    $on-surface-medium: utils.get-on-surface($nifi-theme-color-config, medium);
    $surface-alt: utils.get-surface($nifi-theme-color-config, default, 'accent');

    .canvas-background {
        background-color: $surface-darker;
        background-image: linear-gradient(to right, $surface-alt 1px, transparent 1px),
            linear-gradient(to bottom, $surface-alt 1px, transparent 1px);
    }

    /* svg styles */

    svg.canvas-svg {
        /*
          All components
      */
        .transparent {
            fill: transparent;
        }

        g.component rect.body {
            fill: $surface;
        }

        g.component rect.body.unauthorized {
            fill: $surface-darker;
        }

        g.component rect.border,
        g.connections rect.border {
            stroke: $on-surface-lighter;
            stroke-width: if(
                $is-dark,
                2,
                1
            ); // Dark mode gets a wider stroke to provide contrast between the canvas and components
        }

        g.component rect.border.unauthorized {
            stroke: $nifi-theme-warn-palette-darker !important;
        }

        g.component rect.border.ghost {
            stroke: $nifi-theme-surface-palette-default !important;
        }

        g.component rect.processor-icon-container.unauthorized {
            fill: $surface-darker;
        }

        g.component.selected rect.border {
            stroke: utils.get-color-on-surface($material-theme-color-config, $surface);
        }

        text.stats-label {
            fill: $on-surface-medium;
        }

        text.stats-value {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface, 'accent');
        }

        text.stats-info {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface);
        }

        text.bulletin-icon {
            fill: $surface;
        }

        rect.bulletin-background {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface, 'warn');
        }

        text.active-thread-count-icon {
            fill: $material-theme-primary-palette-default;
        }

        text.active-thread-count {
            fill: $material-theme-accent-palette-darker;
        }

        path.component-comments {
            fill: $nifi-theme-surface-palette-A200;
            stroke: $nifi-theme-surface-palette-A200;
        }

        /*
          Selection
      */

        g.component.connectable-destination rect.border {
            stroke: $nifi-theme-success-palette-500;
        }

        rect.component-selection,
        rect.drag-selection,
        rect.label-drag {
            stroke: $on-surface-medium;
            fill: transparent;
        }

        text.add-connect {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface);
        }

        /*
          Processor
      */
        #component-drop-shadow feFlood {
            flood-color: $drop-shadow-color;
        }

        #connection-full-drop-shadow feFlood {
            flood-color: $nifi-theme-warn-palette-darker;
        }

        rect.processor-read-write-stats {
            fill: $surface;
        }

        rect.processor-stats-border {
            fill: $on-surface-lighter;
        }

        rect.processor-stats-in-out {
            fill: $surface-darker;
        }

        text.processor-name {
            fill: $on-surface-medium;
        }

        text.processor-type {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface, 'accent');
        }

        text.processor-bundle {
            fill: $nifi-theme-surface-palette-A700;
        }

        rect.processor-icon-container {
            fill: $surface;
        }

        circle.restricted-background,
        circle.is-primary-background {
            fill: $surface;
        }

        text.restricted {
            fill: $nifi-theme-warn-palette-darker;
        }

        /*
          Connection
      */

        g.connection rect.body {
            fill: $surface;
        }

        g.connection rect.body.unauthorized {
            fill: $surface-darker;
        }

        g.connection rect.border.unauthorized {
            stroke: $nifi-theme-warn-palette-darker;
        }

        g.connection rect.border.full {
            stroke: $material-theme-accent-palette-darker;
        }

        g.connection.selected rect.border {
            stroke: $nifi-theme-warn-palette-A700;
        }

        path.connector {
            stroke: $nifi-theme-warn-palette-800;
        }

        path.connector.connectable {
            stroke: $nifi-theme-success-palette-500;
        }

        g.connection path.connection-path {
            fill: none;
            stroke: $on-surface;
        }

        g.connection path.connection-path.full {
            stroke: $nifi-theme-warn-palette-darker;
        }

        g.connection path.connection-path.unauthorized {
            stroke: $nifi-theme-warn-palette-darker;
        }

        text.connection-from-run-status,
        text.connection-to-run-status,
        text.expiration-icon,
        text.load-balance-icon,
        text.penalized-icon {
            fill: $material-theme-primary-palette-default;
        }

        text.load-balance-icon-active {
            fill: $material-theme-accent-palette-darker;
        }

        text.connection-from-run-status.is-missing-port,
        text.connection-to-run-status.is-missing-port {
            fill: $nifi-theme-warn-palette-A200;
        }

        g.connection rect.backpressure-tick {
            fill: transparent;
        }

        g.connection rect.backpressure-tick.data-size-prediction.prediction-down,
        g.connection rect.backpressure-tick.object-prediction.prediction-down {
            fill: $surface;
        }

        g.connection rect.backpressure-tick.data-size-prediction,
        g.connection rect.backpressure-tick.object-prediction {
            fill: $nifi-theme-surface-palette-A200;
        }

        g.connection rect.backpressure-tick.data-size-prediction.not-configured,
        g.connection rect.backpressure-tick.object-prediction.not-configured,
        g.connection rect.backpressure-tick.data-size-prediction.prediction-down.not-configured,
        g.connection rect.backpressure-tick.object-prediction.prediction-down.not-configured {
            fill: transparent;
        }

        g.connection rect.backpressure-tick.not-configured {
            fill: $nifi-theme-surface-palette-default;
        }

        g.connection rect.backpressure-object,
        g.connection rect.backpressure-data-size {
            fill: $on-surface-lighter;
        }

        g.connection rect.backpressure-object.not-configured,
        g.connection rect.backpressure-data-size.not-configured {
            fill: transparent;
        }

        g.connection rect.backpressure-percent {
            fill: $nifi-theme-success-palette-lighter;
        }

        g.connection rect.backpressure-percent.warning {
            fill: $nifi-theme-warn-palette-A400;
        }

        g.connection rect.backpressure-percent.error {
            fill: $nifi-theme-warn-palette-darker;
        }

        /* ghost connection */

        g.connection.ghost path.connection-path,
        g.connection.ghost rect.connection-label {
            stroke: $nifi-theme-surface-palette-default;
        }

        g.connection path.connection-selection-path {
            stroke: $nifi-theme-warn-palette-A700;
            fill: none;
        }

        g.connection path.connection-path-selectable {
            fill: none;
        }

        g.connection rect.startpoint {
            stroke: $nifi-theme-warn-palette-800;
            fill: $nifi-theme-warn-palette-800;
        }

        g.connection rect.midpoint {
            stroke: $nifi-theme-warn-palette-A700;
            fill: $nifi-theme-warn-palette-A700;
        }

        g.connection rect.endpoint {
            stroke: $nifi-theme-success-palette-A700;
            fill: $nifi-theme-success-palette-A700;
        }

        /* labels */

        g.label rect.labelpoint {
            stroke: $nifi-theme-warn-palette-A700;
            fill: $nifi-theme-warn-palette-A700;
        }

        /* funnels */

        text.funnel-icon {
            fill: $material-theme-accent-palette-default;
        }

        /* ports */

        text.port-name {
            fill: $on-surface-medium;
        }

        text.port-icon {
            fill: $material-theme-accent-palette-default;
        }

        rect.remote-banner {
            fill: $surface-alt;
        }

        text.port-transmission-icon {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface-alt);
        }

        /* process groups */

        rect.process-group-stats-in-out {
            fill: $surface;
        }

        rect.process-group-stats-border {
            fill: $on-surface-lighter;
        }

        rect.process-group-queued-stats {
            fill: $surface-darker;
        }

        rect.process-group-read-write-stats {
            fill: $surface-darker;
        }

        rect.process-group-details-banner,
        rect.remote-process-group-details-banner,
        rect.remote-process-group-last-refresh-rect {
            fill: $surface-alt;
        }

        $pg-surface: utils.ensure-contrast(
            $material-theme-primary-palette-default,
            $material-theme-primary-palette-default-contrast,
            $material-theme-primary-palette-lighter
        );
        rect.process-group-banner,
        rect.remote-process-group-banner {
            fill: $material-theme-primary-palette-default;
        }

        text.process-group-name,
        text.remote-process-group-name {
            fill: utils.ensure-contrast(
                $material-theme-primary-palette-default-contrast,
                $pg-surface,
                $on-surface-medium
            );
        }

        text.process-group-contents-count {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface, 'accent');
        }

        g.process-group.drop rect.border {
            stroke: $nifi-theme-success-palette-A700;
        }

        /* remote process group */

        rect.remote-process-group-stats-border {
            fill: $on-surface-lighter;
        }

        rect.remote-process-group-sent-stats {
            fill: $surface-darker;
        }

        rect.remote-process-group-received-stats {
            fill: $surface;
        }

        text.remote-process-group-uri {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface);
        }

        text.remote-process-group-transmission-status {
            fill: $material-theme-primary-palette-default-contrast;
        }

        text.remote-process-group-transmission-secure {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface);
        }

        text.remote-process-group-last-refresh {
            fill: utils.get-color-on-surface($material-theme-color-config, $surface);
        }
    }
}
