/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

@mixin styles() {
    .listing-table {
        border-width: 1px;
        border-style: solid;

        table {
            width: 100%;
            table-layout: fixed;

            td,
            th {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0 8px;
                cursor: default;
            }

            .mat-column-actions {
                width: 52px;
            }
        }
    }

    .mat-sort-header-content {
        overflow: hidden;
    }
}

@mixin generate-theme($material-theme, $nifi-theme) {
    // Get the color config from the theme.
    $material-theme-color-config: mat.get-color-config($material-theme);
    $nifi-theme-color-config: mat.get-color-config($nifi-theme);

    // Get the color palette from the color-config.
    $material-theme-primary-palette: map.get($material-theme-color-config, 'primary');
    $material-theme-accent-palette: map.get($material-theme-color-config, 'accent');
    $nifi-theme-surface-palette: map.get($nifi-theme-color-config, 'primary');

    // Get hues from palette
    $is-dark: map-get($nifi-theme-color-config, is-dark);

    $nifi-theme-surface-palette-lighter: mat.get-color-from-palette($nifi-theme-surface-palette, lighter);
    $nifi-theme-surface-palette-darker: mat.get-color-from-palette($nifi-theme-surface-palette, darker);
    $selected-row-color: if(
        $is-dark,
        mat.get-color-from-palette($material-theme-accent-palette, darker),
        mat.get-color-from-palette($material-theme-accent-palette, lighter)
    );
    $header-surface: if(
        $is-dark,
        mat.get-color-from-palette($material-theme-primary-palette),
        mat.get-color-from-palette($material-theme-primary-palette, darker)
    );

    .listing-table {
        table {
            th {
                @extend .primary-contrast;
                background-color: $header-surface !important;
                user-select: none;

                .mat-sort-header-arrow {
                    @extend .primary-contrast;
                }
            }

            th,
            td {
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }

            tr:hover {
                background-color: var(--mat-menu-item-hover-state-layer-color) !important;
            }

            .selected {
                background-color: $selected-row-color !important;
            }
        }
    }
}
