/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#connection-configuration {
    z-index: 1301;
    display: none;
    width: 700px;
    height: 400px;
    border: 1px solid #eee;
}

div.connection-configuration-tab-container {
    margin-top: -10px;
    padding: 5px 11px;
}

#connection-configuration-tabs {
    background-color: transparent;
    border-bottom: 3px solid #666666;
    height: 21px;
    width: 678px;
}

#connection-configuration div.configuration-tab {
    height: 275px;
    overflow: auto;
    padding: 10px;
    background: #eee url(../images/bgTabContainer.png) repeat-x;
    display: none;
}

/*
    Connection details.
*/

#output-port-options {
    height: 18px;
    width: 250px;
}

#input-port-options {
    height: 18px;
    width: 280px;
}

div.connection-terminal-label {
    height: 26px;
}

/*
    Connection settings.
*/

#connection-configuration div.settings-left {
    float: left;
    width: 280px;
}

#connection-configuration div.spacer {
    float: left;
    margin-right: 40px;
}

#connection-configuration div.settings-right {
    float: left;
    width: 330px;
}

#connection-configuration .setting-input {
    font-size: 11px !important;
    width: 270px;
}

#relationship-names-container {
    height: 160px;
    padding-right: 0;
}

#relationship-names {
    padding: 2px;
    height: 150px;
    width: 274px;
    overflow-y: auto;
    overflow-x: hidden; 
    border: 0 solid #cccccc;
    padding: 2px;
    padding-bottom: 0;
}

div.available-relationship-container {
    margin-bottom: 4px;
}

#connection-configuration div.relationship-name {
    display: inline-block;
    line-height: normal;
    width: 240px;
}

#connection-name-container {
    clear: left;
    float: left;
    margin-top: 10px;
    width: 180px;
}

div.undefined {
    color: #aaa;
    font-style: italic;
}

/* prioritizers */

#prioritizer-available, #prioritizer-selected {
    list-style-type: none;
    margin: 0px;
    background: #eee;
    width: 325px;
    min-height: 28px;
    margin-bottom: 5px;
    border: 1px dashed #aaa;
}

#prioritizer-available li, #prioritizer-selected li {
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;
    height: 12px;
    overflow: hidden;
}

#prioritizer-available li {
    background: transparent url(../images/bgButton.png) repeat-x center center;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #a7a7a7;
    border-bottom: 1px solid #828282;
    border-left: 1px solid #a7a7a7;
    color: #666;
    font-weight: bold;
}

li.available-hover {
    background: transparent url(../images/bgButtonOver.png) repeat-x center center;
}

#prioritizer-selected li {
    background: transparent url(../images/bgButtonSelected.png) repeat-x center center;
    border-top: 1px solid #AAC1CE;
    border-right: 1px solid #85A6B8;
    border-bottom: 1px solid #618BA3;
    border-left: 1px solid #85A6B8;
    color: #355B6A;
    font-weight: bold;
}