<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="parameter-table flex gap-x-3">
    <div class="flex flex-col gap-y-3" style="flex-grow: 3">
        <div class="flex justify-end items-center">
            <button class="nifi-button" type="button" (click)="newParameterClicked()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="h-96 overflow-y-auto overflow-x-hidden border">
            <table mat-table [dataSource]="dataSource">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let item">
                        <div class="flex justify-between items-center">
                            <div>
                                {{ item.entity.parameter.name }}
                            </div>
                            <div>
                                <div
                                    class="fa fa-question-circle"
                                    *ngIf="hasDescription(item)"
                                    nifiTooltip
                                    [tooltipComponentType]="TextTip"
                                    [tooltipInputData]="getDescriptionTipData(item)"></div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Value Column -->
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Value</th>
                    <td mat-cell *matCellDef="let item">
                        <ng-container *ngIf="isNull(item.entity.parameter.value); else nonNull">
                            <div class="unset">No value set</div>
                        </ng-container>
                        <ng-template #nonNull>
                            <ng-container
                                *ngTemplateOutlet="
                                    isSensitiveParameter(item) ? sensitive : nonSensitive;
                                    context: { $implicit: item.entity.parameter.value }
                                "></ng-container>
                            <ng-template #sensitive>
                                <div class="sensitive">Sensitive value set</div>
                            </ng-template>
                            <ng-template #nonSensitive let-value>
                                <ng-container
                                    *ngTemplateOutlet="
                                        isEmptyString(value) ? blank : nonBlank;
                                        context: { $implicit: value }
                                    "></ng-container>
                            </ng-template>
                            <ng-template #blank>
                                <div class="empty">Empty string set</div>
                            </ng-template>
                            <ng-template #nonBlank let-value>
                                <div class="flex justify-between items-center">
                                    <div class="whitespace-nowrap overflow-hidden text-ellipsis">
                                        {{ value }}
                                    </div>
                                    <div
                                        class="fa fa-info"
                                        *ngIf="hasExtraWhitespace(value)"
                                        nifiTooltip
                                        [tooltipComponentType]="TextTip"
                                        [tooltipInputData]="getExtraWhitespaceTipData()"></div>
                                </div>
                            </ng-template>
                        </ng-template>
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let item">
                        <div class="flex items-center gap-x-3">
                            <!-- TODO - go to inherited parameter -->
                            <!--                        <div-->
                            <!--                            class="pointer fa fa-long-arrow-right"-->
                            <!--                            *ngIf="canGoTo(item)"-->
                            <!--                            [routerLink]="getServiceLink(item.value) | async"-->
                            <!--                            mat-dialog-close-->
                            <!--                            title="Go to"></div>-->
                            <div
                                class="pointer fa fa-pencil"
                                *ngIf="item.entity.canWrite"
                                (click)="editClicked(item)"
                                title="Edit"></div>
                            <div class="pointer fa fa-trash" (click)="deleteClicked(item)" title="Delete"></div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; let even = even; columns: displayedColumns"
                    (click)="selectParameter(row)"
                    [class.selected]="isSelected(row)"
                    [class.even]="even"></tr>
            </table>
        </div>
    </div>
    <div class="flex flex-col justify-between gap-y-3" style="flex-grow: 1">
        <div class="flex flex-col">
            <div>Parameter</div>
            <div class="value">
                <span *ngIf="selectedItem; else noParameterSelected">{{ selectedItem.entity.parameter.name }}</span>
                <ng-template #noParameterSelected>
                    <span class="unset">None</span>
                </ng-template>
            </div>
        </div>
        <div class="flex-1 flex flex-col">
            <div>Referencing Components</div>
            <div class="relative h-full border">
                <div class="absolute inset-0 overflow-y-auto p-1">
                    <parameter-references
                        *ngIf="selectedItem"
                        [parameterReferences]="selectedItem.entity.parameter.referencingComponents"></parameter-references>
                </div>
            </div>
        </div>
    </div>
</div>
