/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;
@use '../utils.scss' as utils;

@mixin styles() {
    html,
    body {
        height: 100%;
    }

    body {
        margin: 0;
        font-family: Roboto, 'Helvetica Neue', sans-serif;
    }

    .cdk-drag-disabled {
        cursor: not-allowed !important;
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    .cdk-drop-list-dragging {
        cursor: grabbing;
    }

    a {
        font-size: 13px;
        cursor: pointer;
        font-weight: normal;
        display: inline-block;
        font-family: Roboto;
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    //Icon for styling mat-icon in forms throughout the application.
    .info-icon {
        font-size: 14px;
        height: 14px !important;
        width: 14px !important;
    }

    //This style is needed due to an incompatibility between material and tailwind.
    .mdc-notched-outline__notch {
        border-right: none;
    }

    .tooltip {
        position: fixed;
        max-width: 500px;
        padding: 10px;
        border-radius: 2px;
        border-width: 1px;
        font-size: 13px;
        font-family: Roboto;
        font-weight: 400;
        word-wrap: break-word;
        white-space: normal;
        z-index: 1;

        ul {
            list-style: disc outside;
            margin-left: 1em;
        }
    }

    .property-editor {
        font-size: 13px;
        font-family: Roboto;
        font-weight: 400;
    }

    .CodeMirror-hints {
        font-size: 13px !important;
        z-index: 1000 !important;
        overflow-y: scroll !important;
    }

    .blank,
    .empty,
    .unset,
    .sensitive {
        font-weight: normal !important;
    }

    .mat-mdc-icon-button {
        --mdc-icon-button-state-layer-size: 28px;
        --mdc-icon-button-icon-size: 14px;
        line-height: var(--mdc-icon-button-state-layer-size);
        padding: 0;

        &.mat-mdc-button-base.mdc-icon-button {
            padding: 0;
        }
    }

    .pointer {
        cursor: pointer;
    }

    .flex-2 {
        display: flex;
        flex: 2;
        flex-basis: 100%;
    }

    .flex-1a {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
}

@mixin generate-material-theme($material-theme, $nifi-theme) {
    // Get the color config from the theme.
    $material-theme-color-config: mat.get-color-config($material-theme);
    $nifi-theme-color-config: mat.get-color-config($nifi-theme);

    // Get the palettes
    $material-theme-primary-palette: map.get($material-theme-color-config, 'primary');
    $material-theme-warn-palette: map.get($material-theme-color-config, 'warn');
    $nifi-theme-warn-palette: map.get($nifi-theme-color-config, 'warn');

    // colors from the material theme palettes
    $material-theme-primary-palette-A400: mat.get-color-from-palette($material-theme-primary-palette, 'A400');
    $nifi-theme-warn-palette-A200: mat.get-color-from-palette($nifi-theme-warn-palette, 'A200');

    // semantic classes for the material theme

    .mat-primary {
        color: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config),
            'primary'
        ) !important;
        fill: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config),
            'primary'
        ) !important;
    }

    .mat-accent {
        color: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config),
            'accent'
        ) !important;
        fill: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config),
            'accent'
        ) !important;
    }

    .mat-warn {
        color: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config),
            'warn'
        ) !important;
        fill: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config),
            'warn'
        ) !important;
    }

    /* other classes and overriding 3rd party styles */

    a {
        // calculate the color for text on top of a material theme primary palette default color element
        color: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($material-theme-color-config)
        );
        // get the lighter color from the material theme primary palette
        text-decoration-color: mat.get-color-from-palette($material-theme-primary-palette, 'lighter');
    }

    a:hover {
        // calculate the color for text on top of a material theme primary palette default colored element
        text-decoration-color: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($material-theme-color-config)
        );
    }

    .mat-mdc-icon-button {
        // calculate the color for text on top of a nifi theme accent palette darker colored element
        color: utils.get-color-on-surface(
            $material-theme-color-config,
            utils.get-surface($nifi-theme-color-config, 'darker')
        ) !important;
    }

    .enabled {
        color: $material-theme-primary-palette-A400 !important;
        fill: $material-theme-primary-palette-A400 !important;
    }

    .has-errors,
    .invalid {
        color: $nifi-theme-warn-palette-A200 !important;
        fill: $nifi-theme-warn-palette-A200 !important;
    }

    .zero {
        opacity: 0.5;
    }

    // Because snackbars have different surface colors, we need to make sure the action color has enough contrast.
    $is-dark: map.get($material-theme-color-config, 'is-dark');
    $snack-surface: if($is-dark, #d9d9d9, #333333);
    // calculate the color for text on top of themed snackbar surface colored element
    $snack-action-color: utils.get-color-on-surface($material-theme-color-config, $snack-surface, 'accent');

    * {
        // Tailwind sets a default that doesn't shift with light and dark themes
        --mat-snack-bar-button-color: #{$snack-action-color};
    }
}

@mixin generate-nifi-theme($nifi-theme) {
    // Get the color config from the theme.
    $nifi-theme-color-config: mat.get-color-config($nifi-theme);

    // Get the color palettes from the color-config.
    $nifi-theme-surface-palette: map.get($nifi-theme-color-config, 'primary');
    $nifi-theme-success-palette: map.get($nifi-theme-color-config, 'accent');
    $nifi-theme-warn-palette: map.get($nifi-theme-color-config, 'warn');

    // default/lighter/darker colors from the nifi theme palettes
    $nifi-theme-surface-palette-default: mat.get-color-from-palette($nifi-theme-surface-palette, 'default');
    $nifi-theme-surface-palette-lighter: mat.get-color-from-palette($nifi-theme-surface-palette, 'lighter');
    $nifi-theme-surface-palette-darker: mat.get-color-from-palette($nifi-theme-surface-palette, 'darker');
    $nifi-theme-surface-palette-A200: mat.get-color-from-palette($nifi-theme-surface-palette, A200);
    $nifi-theme-success-palette-default: mat.get-color-from-palette($nifi-theme-success-palette, 'default');
    $nifi-theme-success-palette-lighter: mat.get-color-from-palette($nifi-theme-success-palette, 'lighter');
    $nifi-theme-success-palette-darker: mat.get-color-from-palette($nifi-theme-success-palette, 'darker');
    $nifi-theme-warn-palette-default: mat.get-color-from-palette($nifi-theme-warn-palette, 'default');
    $nifi-theme-warn-palette-lighter: mat.get-color-from-palette($nifi-theme-warn-palette, 'lighter');
    $nifi-theme-warn-palette-darker: mat.get-color-from-palette($nifi-theme-warn-palette, 'darker');

    // semantic classes for default/lighter/darker colors for each palette in each theme
    .nifi-surface-default {
        color: $nifi-theme-surface-palette-default !important;
        fill: $nifi-theme-surface-palette-default !important;
    }

    .nifi-surface-lighter {
        color: $nifi-theme-surface-palette-lighter !important;
        fill: $nifi-theme-surface-palette-lighter !important;
    }

    .nifi-surface-darker {
        color: $nifi-theme-surface-palette-darker !important;
        fill: $nifi-theme-surface-palette-darker !important;
    }

    .nifi-success-default {
        color: $nifi-theme-success-palette-default !important;
        fill: $nifi-theme-success-palette-default !important;
    }

    .nifi-success-lighter {
        color: $nifi-theme-success-palette-lighter !important;
        fill: $nifi-theme-success-palette-lighter !important;
    }

    .nifi-success-darker {
        color: $nifi-theme-success-palette-darker !important;
        fill: $nifi-theme-success-palette-darker !important;
    }

    .nifi-warn-default {
        color: $nifi-theme-warn-palette-default !important;
        fill: $nifi-theme-warn-palette-default !important;
    }

    .nifi-warn-lighter {
        color: $nifi-theme-warn-palette-lighter !important;
        fill: $nifi-theme-warn-palette-lighter !important;
    }

    .nifi-warn-darker {
        color: $nifi-theme-warn-palette-darker !important;
        fill: $nifi-theme-warn-palette-darker !important;
    }

    .blank,
    .empty,
    .unset,
    .sensitive {
        @extend .nifi-surface-default;
    }

    // surface colors based on nifi theme
    $surface-primary-default: utils.get-surface($nifi-theme-color-config);

    // on surface colors based on nifi theme
    $on-surface-primary-default: utils.get-on-surface($nifi-theme-color-config);
    $on-surface-primary-lighter: utils.get-on-surface($nifi-theme-color-config, 'lighter');
    $on-surface-primary-highlight: utils.get-on-surface($nifi-theme-color-config, 'highlight');

    /* other classes and overriding 3rd party styles */

    * {
        // Tailwind sets a default that doesn't shift with light and dark themes
        border-color: $on-surface-primary-lighter;
    }

    .cdk-drag-disabled {
        background: $on-surface-primary-lighter !important;
    }

    .cdk-drag-preview {
        box-shadow: 0 3px 6px $nifi-theme-surface-palette-A200;
    }

    .tooltip {
        background-color: $surface-primary-default;
        border-color: $on-surface-primary-default;
        box-shadow: 0 2px 5px $nifi-theme-surface-palette-A200;
        color: $on-surface-primary-default;
    }

    .property-editor {
        background-color: $surface-primary-default;
        box-shadow: 0 2px 5px $nifi-theme-surface-palette-A200;
    }

    .mat-mdc-icon-button:hover {
        background-color: $on-surface-primary-highlight !important;
    }

    .mat-mdc-icon-button:disabled {
        color: $on-surface-primary-lighter !important;
        background-color: transparent !important;

        i {
            color: $on-surface-primary-lighter !important;
        }
    }

    ngx-skeleton-loader .skeleton-loader {
        background: $on-surface-primary-lighter;
    }
}
