/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../../../node_modules/@angular/material/core/theming/inspection' as inspection;

@mixin generate-theme($material-theme, $nifi-theme) {
    // Get the color config from the theme.
    $material-theme-color-config: mat.get-color-config($material-theme);

    // Get the color palette from the color-config.
    $material-theme-primary-palette: map.get($material-theme-color-config, 'primary');

    // Get hues from palette
    $is-dark: map-get($material-theme-color-config, is-dark);
    $material-theme-primary-palette-lighter-contrast: mat.get-color-from-palette(
        $material-theme-primary-palette,
        lighter-contrast
    );
    $material-theme-primary-palette-darker-contrast: mat.get-color-from-palette(
        $material-theme-primary-palette,
        darker-contrast
    );
    $material-theme-primary-palette-default: mat.get-color-from-palette($material-theme-primary-palette);
    $material-theme-primary-palette-darker: mat.get-color-from-palette($material-theme-primary-palette, darker);
    $material-theme-primary-palette-lighter: mat.get-color-from-palette($material-theme-primary-palette, lighter);

    .nifi-navigation {
        background-color: if($is-dark, $material-theme-primary-palette-default, $material-theme-primary-palette-darker);

        .icon,
        .icon.global-menu {
            color: if($is-dark, $material-theme-primary-palette-darker, $material-theme-primary-palette-default);
        }

        .icon:disabled,
        .icon.global-menu:disabled {
            @extend .surface-color;
        }

        .current-user {
            @extend .primary-contrast;
            font-family: mat.get-theme-typography($material-theme, body-1, font-family);
        }

        a {
            @extend .primary-contrast;
            text-decoration-color: if(
                $is-dark,
                $material-theme-primary-palette-darker-contrast,
                $material-theme-primary-palette-lighter-contrast
            );
        }

        a:hover {
            opacity: 0.6;
        }
    }
}
