<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="tooltip property-value-tip overflow-hidden">
    <div class="line-clamp-[10] font-mono text-sm whitespace-pre max-h-52 truncate">{{ data?.property?.value }}</div>

    @if (parameterReferences.length > 0) {
        <div class="mt-4">Parameter values:</div>
        <table class="w-full min-w-72">
            @for (param of parameterReferences; track param.name) {
                <tr>
                    <td class="font-bold pr-4 leading-4">{{ param.name }}</td>
                    <td class="line-clamp-[10] leading-4 pl-4 whitespace-pre font-mono text-sm">
                        <div class="truncate max-w-xs">
                            {{ param.value }}
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>
