<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<mat-expansion-panel
    [hideToggle]="true"
    [expanded]="!navigationCollapsed"
    (opened)="opened()"
    (closed)="toggleCollapsed(true)">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="flex items-center gap-x-2">
                <div class="w-5 fa fa-compass primary-color"></div>
                <div>Navigation</div>
            </div>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex flex-col gap-y-2">
        <div class="flex justify-between">
            <div class="flex gap-x-1">
                <button
                    mat-icon-button
                    class="primary-icon-button"
                    type="button"
                    matTooltip="Zoom In"
                    aria-label="Zoom In"
                    data-qa="zoom-in-button"
                    (click)="zoomIn.emit()">
                    <i class="fa fa-search-plus"></i>
                </button>
                <button
                    mat-icon-button
                    class="primary-icon-button mr-2"
                    type="button"
                    matTooltip="Zoom Out"
                    aria-label="Zoom Out"
                    data-qa="zoom-out-button"
                    (click)="zoomOut.emit()">
                    <i class="fa fa-search-minus"></i>
                </button>
                <button
                    mat-icon-button
                    class="primary-icon-button"
                    type="button"
                    matTooltip="Fit to Screen"
                    aria-label="Fit to Screen"
                    data-qa="zoom-fit-button"
                    (click)="zoomFit.emit()">
                    <i class="ml-1 icon icon-zoom-fit"></i>
                </button>
                <button
                    mat-icon-button
                    class="primary-icon-button"
                    type="button"
                    matTooltip="Zoom to Actual Size"
                    aria-label="Zoom to Actual Size"
                    data-qa="zoom-actual-button"
                    (click)="zoomActual.emit()">
                    <i class="ml-1 icon icon-zoom-actual"></i>
                </button>
            </div>
            @if (canNavigateToParent()) {
                <button
                    mat-icon-button
                    class="primary-icon-button"
                    type="button"
                    matTooltip="Leave Group"
                    aria-label="Leave Group"
                    data-qa="leave-group-button"
                    (click)="leaveGroup.emit()">
                    <i class="fa fa-level-up"></i>
                </button>
            }
        </div>
        <canvas-birdseye
            [components]="birdseyeComponents()"
            [transform]="birdseyeTransform()"
            [canvasDimensions]="canvasDimensions()"
            (viewportChange)="viewportChange.emit($event)"
            (dragStart)="birdseyeDragStart.emit()"
            (dragEnd)="birdseyeDragEnd.emit()">
        </canvas-birdseye>
    </div>
</mat-expansion-panel>
