/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use '@angular/material' as mat;

.property-editor {
    @include mat.button-density(-1);

    .nf-editor {
        min-height: 100px;
        min-width: 210px;
        width: 350px;
        border: 1px solid;

        .CodeMirror {
            resize: both !important;
            overflow: auto !important;

            height: 100px;
            border: 1px solid #aaa;
            font-family: monospace;
            background-color: #fff;
            cursor: default;
            line-height: normal;
            min-width: 210px;

            &.blank {
                background: #b2b8c1;
                color: #dbdee2;
                border: 1px solid #b2b8c1;
            }
        }

        .CodeMirror-scroll {
            overflow-x: auto;
            overflow-y: auto;
        }

        /*
            Override some defaults...
        */

        .cm-s-default {
            font-size: 13px;
            font-family: monospace;
        }

        .cm-s-default .CodeMirror-matchingbracket {
            color: #000 !important;
            background-color: #aaa;
            opacity: 0.5;
            filter: alpha(opacity=50);
        }

        .CodeMirror-vscrollbar {
            bottom: 18px !important;
        }

        .CodeMirror-hscrollbar {
            right: 18px !important;
        }
    }
}
