<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="run-duration-slider flex flex-col">
    <div class="pl-4 pr-7">
        <mat-slider
            [min]="0"
            [max]="7"
            [step]="1"
            showTickMarks
            discrete
            [displayWith]="formatLabel"
            [disabled]="isDisabled">
            <input matSliderThumb (valueChange)="runDurationChanged($event)" />
        </mat-slider>
    </div>
    <div class="flex justify-between items-center">
        <div class="accent-color font-medium">Lower latency</div>
        <div class="accent-color font-medium">Higher throughput</div>
    </div>
</div>
