<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<h2 mat-dialog-title>Referenced Attributes</h2>
<form class="referenced-attributes-form" [formGroup]="referencedAttributesForm">
    <mat-dialog-content>
        <div class="dialog-content max-h-96">
            <map-table formControlName="attributes" [createNew]="createNew" [reportChangesOnly]="false">
                <div class="flex flex-row justify-between items-center">
                    <div>
                        Enter Attribute Values
                        <i
                            class="fa fa-info-circle primary-color"
                            nifiTooltip
                            [tooltipComponentType]="TextTip"
                            tooltipInputData="Supply attribute values that should be considered when performing property verification."></i>
                    </div>
                    <button
                        mat-icon-button
                        class="primary-icon-button"
                        [disabled]="isEmpty()"
                        type="button"
                        (click)="clearAttributesClicked()">
                        <i class="fa fa-eraser"></i>
                    </button>
                </div>
            </map-table>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-flat-button mat-dialog-close cdkFocusInitial (click)="verifyClicked()">Verify</button>
    </mat-dialog-actions>
</form>
