/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

@mixin generate-theme() {
    .flow-status {
        background-color: var(--mat-sys-background);

        .controller-bulletins {
            background-color: unset;

            .fa {
                color: var(--mat-sys-primary);
            }
        }

        .controller-bulletins.has-bulletins {
            .fa {
                color: var(--mat-sys-on-primary);
            }

            &.error {
                .fa {
                    color: var(--mat-sys-on-error);
                }

                background-color: var(--mat-sys-error);
            }
            &.warning {
                .fa {
                    color: var(--nf-caution-contrast);
                }

                background-color: var(--nf-caution-default);
            }
            &.info,
            &.debug,
            &.trace {
                background-color: var(--nf-success-default);
            }
        }

        .flow-analysis-notifications.warn {
            background-color: var(--mat-sys-secondary);

            .fa {
                color: var(--mat-sys-on-secondary);
            }
        }

        .flow-analysis-notifications.enforce {
            background-color: var(--mat-sys-error);

            .fa {
                color: var(--mat-sys-on-error);
            }
        }
    }
}
