/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

@mixin generate-theme($material-theme, $config) {
    $is-material-dark: if(mat.get-theme-type($material-theme) == dark, true, false);
    $material-theme-primary-palette-darker: mat.get-theme-color(
        $material-theme,
        primary,
        map.get(map.get($config, primary), darker)
    );
    $material-theme-primary-palette-lighter: mat.get-theme-color(
        $material-theme,
        primary,
        map.get(map.get($config, primary), lighter)
    );
    $material-theme-error-palette-default: mat.get-theme-color(
        $material-theme,
        error,
        map.get(map.get($config, error), default)
    );
    $material-theme-error-palette-darker: mat.get-theme-color(
        $material-theme,
        error,
        map.get(map.get($config, error), darker)
    );
    $material-theme-neutral-palette-darker: mat.get-theme-color(
        $material-theme,
        neutral,
        map.get(map.get($config, neutral), darker)
    );
    $material-theme-neutral-palette-lighter: mat.get-theme-color(
        $material-theme,
        neutral,
        map.get(map.get($config, neutral), lighter)
    );

    .flow-status {
        background: if(
            $is-material-dark,
            $material-theme-neutral-palette-darker,
            $material-theme-neutral-palette-lighter
        );

        .controller-bulletins {
            background-color: if(
                $is-material-dark,
                $material-theme-primary-palette-lighter,
                $material-theme-primary-palette-darker
            );

            .fa {
                // invert the contrast colors since the surface is dark in light mode and light in dark mode
                color: mat.get-theme-color($material-theme, surface);
            }
        }

        .controller-bulletins.has-bulletins {
            background-color: if(
                $is-material-dark,
                $material-theme-error-palette-default,
                $material-theme-error-palette-darker
            );

            .fa {
                color: mat.get-theme-color($material-theme, surface);
            }
        }
    }
}
