/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

@mixin generate-theme($material-theme, $supplemental-theme) {
    // Get the color config from the theme.
    $material-theme-color-config: mat.m2-get-color-config($material-theme);
    $supplemental-theme-color-config: mat.m2-get-color-config($supplemental-theme);

    // Get the color palette from the color-config.
    $material-theme-primary-palette: map.get($material-theme-color-config, 'primary');
    $material-theme-warn-palette: map.get($material-theme-color-config, 'warn');
    $supplemental-theme-surface-palette: map.get($supplemental-theme-color-config, 'primary');

    // Get hues from palette
    $is-dark: map-get($supplemental-theme-color-config, is-dark);
    $material-theme-primary-palette-default: mat.m2-get-color-from-palette($material-theme-primary-palette);
    $material-theme-primary-palette-lighter: mat.m2-get-color-from-palette($material-theme-primary-palette, lighter);
    $material-theme-warn-palette-darker: mat.m2-get-color-from-palette($material-theme-warn-palette, darker);
    $supplemental-theme-surface-palette-lighter: mat.m2-get-color-from-palette(
            $supplemental-theme-surface-palette,
            lighter
    );
    $supplemental-theme-surface-palette-darker: mat.m2-get-color-from-palette(
            $supplemental-theme-surface-palette,
            darker
    );
    $supplemental-theme-surface-palette-darker-contrast: mat.m2-get-color-from-palette(
            $supplemental-theme-surface-palette,
            darker-contrast
    );
    $supplemental-theme-surface-palette-lighter-contrast: mat.m2-get-color-from-palette(
            $supplemental-theme-surface-palette,
            lighter-contrast
    );

    .flow-status {
        background: if(
                $is-dark,
                $supplemental-theme-surface-palette-darker,
                $supplemental-theme-surface-palette-lighter
        );

        .controller-bulletins {
            background-color: if(
                    $is-dark,
                    $material-theme-primary-palette-lighter,
                    $material-theme-primary-palette-default
            );

            .fa {
                // invert the contrast colors since the surface is dark in light mode and light in dark mode
                color: if(
                        $is-dark,
                        $supplemental-theme-surface-palette-lighter-contrast,
                        $supplemental-theme-surface-palette-darker-contrast
                );
            }
        }

        .controller-bulletins.has-bulletins {
            background-color: $material-theme-warn-palette-darker;
        }

        .flow-analysis-notifications.warn {
            background-color: if(
                    $is-dark,
                    $material-theme-primary-palette-lighter,
                    $material-theme-primary-palette-default
            );
            border-right-color: if(
                    $is-dark,
                    $supplemental-theme-surface-palette-lighter-contrast,
                    $supplemental-theme-surface-palette-darker-contrast
            );


            .fa {
                // invert the contrast colors since the surface is dark in light mode and light in dark mode
                color: if(
                        $is-dark,
                        $supplemental-theme-surface-palette-lighter-contrast,
                        $supplemental-theme-surface-palette-darker-contrast
                );
            }
        }

        .flow-analysis-notifications.enforce {
            background-color: $material-theme-warn-palette-darker;
            border-right-color: if(
                    $is-dark,
                    $supplemental-theme-surface-palette-lighter-contrast,
                    $supplemental-theme-surface-palette-darker-contrast
            );

            .fa {
                // invert the contrast colors since the surface is dark in light mode and light in dark mode
                color: if(
                        $is-dark,
                        $supplemental-theme-surface-palette-lighter-contrast,
                        $supplemental-theme-surface-palette-darker-contrast
                );
            }
        }
    }
}
