<!--
~  Licensed to the Apache Software Foundation (ASF) under one or more
~  contributor license agreements.  See the NOTICE file distributed with
~  this work for additional information regarding copyright ownership.
~  The ASF licenses this file to You under the Apache License, Version 2.0
~  (the "License"); you may not use this file except in compliance with
~  the License.  You may obtain a copy of the License at
~
~     http://www.apache.org/licenses/LICENSE-2.0
~
~  Unless required by applicable law or agreed to in writing, software
~  distributed under the License is distributed on an "AS IS" BASIS,
~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~  See the License for the specific language governing permissions and
~  limitations under the License.
-->

@if (userListingState$ | async; as userListingState) {
    @if (isInitialLoading(userListingState)) {
        <div>
            <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
        </div>
    } @else {
        <div class="flex flex-col h-full gap-y-2">
            @if (currentUser$ | async; as user) {
                <div class="flex-1">
                    @if ((flowConfiguration$ | async)!; as flowConfiguration) {
                        <user-table
                            [tenants]="{ users: userListingState.users, userGroups: userListingState.userGroups }"
                            [selectedTenantId]="selectedTenantId$ | async"
                            [currentUser]="user"
                            [configurableUsersAndGroups]="flowConfiguration.supportsConfigurableUsersAndGroups"
                            (createTenant)="createTenant()"
                            (selectTenant)="selectTenant($event)"
                            (editTenant)="editTenant($event)"
                            (deleteUser)="deleteUser($event)"
                            (deleteUserGroup)="deleteUserGroup($event)"
                            (viewAccessPolicies)="viewAccessPolicies($event)"></user-table>
                    }
                </div>
            }
            <div class="flex justify-between">
                <div class="text-sm flex items-center gap-x-2">
                    <button mat-icon-button class="primary-icon-button" (click)="refreshUserListing()">
                        <i class="fa fa-refresh" [class.fa-spin]="userListingState.status === 'loading'"></i>
                    </button>
                    <div>Last updated:</div>
                    <div class="tertiary-color font-medium">
                        {{ userListingState.loadedTimestamp }}
                    </div>
                </div>
            </div>
        </div>
    }
}
