# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
**/nfel.ts
**/nfel.terms.ts

# Theme
src/assets/themes/*
src/styles.scss

# System files
.DS_Store
Thumbs.db

.angular

/.nx/workspace-data
