/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#nf-about {
    overflow: hidden;
    width: 600px;
    height: 557px;
    max-height: 543px;
    border-radius: 8px;
}

#nf-about .dialog-header {
    background-color: #ffffff;
}

#nf-about .dialog-header-text {
    color: #828282;
    font-weight: normal;
}

#nf-about-pic {
    height: 35%;
    background: url(../images/cloudera-logo.svg) transparent no-repeat center center;
    top: 30%;
    position: relative;
}

#nf-about-pic-container {
    height: 200px;
    background: repeating-linear-gradient(135deg, #333E47, #333E47 2px, #273038 2px, #273038 4px)
}

#nf-version {
    font-weight:500;
    font-size: 13px;
    padding: 0px;
}

#nf-about-content p {
    padding-top: 15px;
    padding-bottom: 9px;
    font-size: 15px;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#nf-about-content span.link {
    cursor: pointer;
    color: #007ed2;
    font-weight:900;
}

#nf-about-description-container {
    margin-top: 25px;
}

#nf-about-description-container div {
    margin-left: 68px;
    margin-bottom: 5px;
    font-size: 14px;
    white-space: normal !important;
    line-height: normal;
}

#nf-about-description-container {
    position: relative;
    color: #828282;
}

#nf-about-nifi-drop {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 48px;
    height: 80px;
}

#nf-about-hdf-version-number {
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
    padding: 0px;
    color: #828282;
}

#nf-version-detail {
    display: none;
}

#nf-version-detail-tag {
    display: none;
}

#nf-version-detail-commit {
    display: none;
}

#nf-about-content #nf-version-detail p {
    font-size: 12px;
    padding: 0;
}

#nf-about .button {
    top: -25px;
    right: 20px;
}