/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'),
    local('Roboto-Light'),
    url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto LightItalic'),
    local('Roboto-LightItalic'),
    url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Regular'),
    local('Roboto-Regular'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'),
    local('Roboto-Medium'),
    url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: local('Roboto Bold'),
    local('Roboto-Bold'),
    url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src: local('Roboto Italic'),
    local('Roboto-Italic'),
    url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    src: local('RobotoSlab Regular'),
    local('RobotoSlab-Regular'),
    url('../fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    src: local('RobotoSlab Bold'),
    local('RobotoSlab-Bold'),
    url('../fonts/Roboto_Slab/RobotoSlab-Bold.ttf') format('truetype');
}

/*remove margin from font awesome*/
i[class^="fa-"]:before, i[class*=" fa-"]:before {
    margin: -1px;
}

/*remove margin from flowfont*/
i[class^="icon-"]:before, i[class*=" icon-"]:before {
    margin: -2px;
}

.value-color {
    color: #775351;
}

body {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
    overflow: hidden;
    color: #262626;
}

#splash {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #7098AD;
    z-index: 2000;
}

#splash-img {
    display: block;
    padding-top: 250px;
    margin: 0px auto;
}

#context-menu {
    display: none;
    position: absolute;
    z-index: 10006;
    font-size: 13px;
    padding:3px 0;
    background-color:rgba(249,250,251,0.97); /*tint base-color 96%*/
    border:1px solid #004849; /*link-color*/
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    width: 215px;
    max-height: inherit;
    color:#004849
}

div.context-menu-item {
    cursor: pointer;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

div.context-menu-item.hover {
    background-color:#C7D2D7; /*tint base-color 60%*/
    box-shadow:0 1px 1px rgba(0,0,0,0.15);
}

.context-menu-item-img {
    float: left;
    width: 16px;
    height: 16px;
    background-size: cover;
}

.context-menu-item-img.fa{
    position: relative;
    top: 2px;
    left: 2px;
}

.context-menu-item-img.icon {
    position: relative;
    top: 1px;
    left: 3px;
}

div.context-menu-item-text {
    margin-left: 4px;
    line-height: 16px;
    float: left;
    color: #262626;
}

div.context-menu-provenance {
    background-position: top left;
}

#user-links-container {
    position: absolute;
    left: 550px;
    top: 100px;
    z-index: 1300;
}

ul.links li {
    float: left;
    display: block;
    margin-left: 10px;
    padding: 4px;
    text-align: center;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}

ul.links span.header-link-over {
    color: #264c58;
    text-decoration: underline;
}

/*
    General Styles
*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
    clear: both;
}

.pointer {
    cursor: pointer !important;
}

.delete td {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.blank, .unset, .sensitive {
    font-style: italic;
    font-weight: normal;
    color: #aaa;
}

.required {
    font-weight: bold !important;
}

div.nifi-tooltip {
    border: 0px !important;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.80) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    color: #fff !important;
    max-width: 500px;
    word-wrap: break-word;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}

input.filter-list {
    color: #888;
}

.table-cell {
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    float: left;
    margin-top: 4px;
}

.collapsed {
    background: transparent url(../images/iconTwistArrow.png) no-repeat scroll top left;
}

.expanded {
    background: transparent url(../images/iconTwistArrow.png) no-repeat scroll top right;
}

label {
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #262626; /*base-font-color*/
    letter-spacing: 0.05rem;
    display: block;
    margin-bottom: 2px;
}

input::placeholder {
    color: #728e9b; /*base-color*/
}

input[type=text], input[type=password], textarea {
    background-color: #eaeef0;
    border: 1px solid #eaeef0;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    padding: 0px 0px 0px 10px;
    resize: none;
    height: 32px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    color: #262626;
}

input:focus, textarea:focus {
    background-color: #fff;
    border: 1px solid #004849; /*link-color*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    outline: none;
}

textarea {
    overflow: hidden;
    padding: 10px 10px;
    resize: vertical;
    color: #262626;
    font-size: 13px !important;
}

#new-template-description {
    position: absolute;
    top: 81px;
    bottom: 0px;
    height: inherit;
    min-height: 32px;
}

ul.property-info {
    list-style-type: disc;
    margin-left: 10px;
}

ul.property-info li {
    padding: 0px 0px;
    margin-left: 10px;
}

div.nf-checkbox {
    cursor: default;
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 4px;
}

div.checkbox-unchecked {
    background: transparent url(../images/inputCheckbox.png) no-repeat scroll top left;
}

div.checkbox-checked {
    background: transparent url(../images/inputCheckbox.png) no-repeat scroll top right;
}

div.ajax-loading {
    background-image: url(../images/iconLoading.gif);
}

div.ajax-complete {
    background-image: url(../images/iconCommit.png);
}

div.ajax-error {
    /*margin-left: -2px;*/
    background-image: url(../images/iconDelete.png);
}

.refresh-button {
    float: left;
}

.ui-draggable .dialog-header {
    cursor: move;
}

/* processor status styles */

div.disabled {
    float: left;
}

div.enabled {
    float: left;
    margin-left: 3px;
    margin-right: -3px;
}

div.stopped {
    float: left;
}

div.running {
    float: left;
}

div.has-errors, div.invalid {
    float: left;
    color: #ba554a !important;
}

div.transmitting {
    float: left;
}

div.not-transmitting {
    float: left;
    margin-top: 0px !important;
}

div.valid {
    float: left;
    background-color: transparent;
}

div.has-bulletins {
    background: #ba554a;
}

/*
    Styles for status/history/user tables.
*/

span.label, div.label {
    font-weight: bold;
}

div.inline-details {
    margin-top: 10px;
    margin-bottom: 3px;
}

div.inline-details div {
    margin: 2px 0;
}

tr.alt-row {
    background: #f5f5f5 none;
}

span.link {
    cursor: pointer;
    color: #004849; /*link-color*/
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid #CCDADB;
    font-size: 13px;
    font-family: Roboto;
}

span.link-over {
    border-bottom: 1px solid #004849;
}

span.link-bold {
    font-weight: bold;
    border-bottom: none;
}

span.details-title {
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}

.last-refreshed-container {
    float: left;
    font-weight: normal;
    margin-top: 8px;
    margin-left: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: Roboto;
    font-size: 13px;
}

.refresh-toggle {
    float: left;
    margin: 0px 20px 0px 0px !important;
    font-family: Roboto;
    font-size: 13px;
}

button {
    height: 28px;
    width: 28px;
    border: 1px solid #CCDADB; /*tint link-color 80%*/
    background-color: rgba(249, 250, 251, 0.97);
    color: #004849;
}

button.refresh-button {
    font-size: 16px;
}

button:hover {
    border: 1px solid #004849; /*link-color*/
}

button:disabled {
    color: #CCDADB !important; /*tint link-color 80%*/
    cursor: not-allowed;
    border: 1px solid #CCDADB; /*tint link-color 80%*/
}

/* angular material override */

button:focus {
    outline: none;
}

div:focus {
    outline: none;
}

input:focus {
    background-color: #fff;
    border: 1px solid #004849; /*link-color*/
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    outline: none;
}

/* filter controls */

.filter-controls {
    position: absolute;
    top: 10px;
}

.filter-container {
    height: 32px;
    width: 318px;
    float: left;
}

.filter {
    margin-right: 3px;
    float: left;
}

input.filter {
    width: 173px;
}

.filter-type {
    width: 120px;
    float: left;
}

.filter-status {
    margin-top: 10px;
    color: #775351;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}

/* buttons */

button.fa {
    color: #004849;
    font-size: 16px;
    cursor: pointer;
}

button.icon {
    color: #004849;
    font-size: 16px;
}

div.button {
    height: 32px;
    width: 90px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 33px;
    text-align: center;
    border: 0px;
    float: right;
    position: relative;
    background: #728E9B;
    color: #fff;
    cursor: pointer;
}

div.button:hover {
    background-color: #004849;
}

div.secondary-button {
    height: 32px;
    width: 90px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    line-height: 33px;
    text-align: center;
    border: 0px;
    float: right;
    position: relative;
    background: #E3E8EB;
    color: #004849;
}

div.secondary-button:hover {
    background-color: #C7D2D7;
}

/* tooltips */

.qtip-nifi {
    border: 0px !important;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.54) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-weight: 500;
    font-size: 13px;
    color: #fff !important;
}

.scrollable {
    border-bottom: 1px solid #d0dbe0;
}

/* progress bars */

md-progress-linear > div {
    background-color: #eaeef0 !important;
}

/* new template */

#new-template-description {
    height: 210px;
}

/* upload */

#select-template-container {
}

#template-browse-container {
    display: block;
    height: 20px;
}

#select-template-label {
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
}

#select-template-button {
    position: absolute;
    top: 0px;
    left: 135px;
    cursor: pointer;
    overflow: hidden;
}

#template-file-field {
    height: 28px;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
    z-index: 3000;
    cursor: pointer;
}

#submit-template-container {
    margin-top: 20px;
}

#selected-template-name {
    font-weight: bold;
    font-family: Roboto;
    font-size: 13px;
}

#upload-template-status {
    margin-top: 10px;
    font-weight: bold;
    font-family: Roboto;
    font-size: 13px;
    color: #ba554a;
}

#upload-template-container button {
    float: right;
    font-size: 16px;
    line-height: 14px;
    margin-left: 1px;
}

#template-file-upload {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 300px;
}