/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#process-group-configuration {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    padding: 20px;
}

#add-process-group-configuration-controller-service {
    float: right;
    width: 19px;
    height: 19px;
    margin-top: 4px;
    cursor: pointer;
}

/* settings tabs */

#process-group-configuration-tabs {
    float: left;
}

#process-group-configuration-refresh-button {
    height: 24px;
    width: 26px;
    float: left;
}

#process-group-configuration-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#process-group-configuration-last-refreshed {
    font-weight: bold;
}

/* general */

#general-process-group-configuration {
    margin-top: -190px;
    margin-left: 10px;
}

#general-process-group-configuration input, #general-process-group-configuration textarea {
    font-size: 11px !important;
    font-family: Verdana;
    width: 350px;
    vertical-align: middle;
}

#process-group-comments {
    height: 100px;
}