/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
    Reporting task configuration styles.
*/

#reporting-task-configuration {
    position: absolute;
    overflow: hidden;
    width: 800px;
    height: 450px;
    font-size: 10px;
    z-index: 1301;
    display: none;
}

#reporting-task-configuration-advanced {
    display: none;
}

#reporting-task-configuration div.configuration-tab {
    display: none;
}

.reporting-task-editable.setting-field {
    height: 32px;
}

/* reporting-task settings */

#reporting-task-name {
    width: 250px;
    float: left;
}

#reporting-task-enabled {
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 4px;
}

div.reporting-task-enabled-container {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

#reporting-task-bundle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input.reporting-task-scheduling-period {
    width: 150px;
}

/*
    Comments
*/

#reporting-task-comments {
    height: 100%;
}