<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<h2 mat-dialog-title>Edit {{ portTypeLabel }}</h2>
<form class="edit-port-form" [formGroup]="editPortForm">
    <banner></banner>
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>{{ portTypeLabel }} Name</mat-label>
                <input matInput formControlName="name" type="text" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field *ngIf="request.entity.component.allowRemoteAccess">
                <mat-label>Concurrent Tasks</mat-label>
                <input matInput formControlName="concurrentTasks" type="text" />
            </mat-form-field>
        </div>
        <div *ngIf="portTypeLabel == 'Output Port'" class="mb-3.5">
            <mat-label>Failure Port</mat-label>
            <mat-checkbox formControlName="portFunction"></mat-checkbox>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Comments</mat-label>
                <textarea matInput formControlName="comments" type="text"></textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" *ngIf="{ value: (saving$ | async)! } as saving">
        <button color="accent" mat-raised-button mat-dialog-close>Cancel</button>
        <button
            [disabled]="!editPortForm.dirty || editPortForm.invalid || saving.value"
            type="button"
            color="primary"
            (click)="editPort()"
            mat-raised-button>
            <span *nifiSpinner="saving.value">Apply</span>
        </button>
    </mat-dialog-actions>
</form>
