<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<h2 mat-dialog-title>{{ readonly ? 'Label Details' : 'Edit Label' }}</h2>
<form class="edit-label-form" [formGroup]="editLabelForm">
    <context-error-banner [context]="ErrorContextKey.LABEL"></context-error-banner>
    <mat-dialog-content>
        <div>
            <mat-form-field>
                <mat-label>Label Value</mat-label>
                <textarea matInput formControlName="value" type="text" rows="10" [readonly]="readonly"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>Font Size</mat-label>
                <mat-select formControlName="fontSize">
                    @for (option of fontSizeOptions; track option) {
                        <mat-option [value]="option.value" [disabled]="readonly">
                            {{ option.text }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    @if ({ value: (saving$ | async)! }; as saving) {
        <mat-dialog-actions align="end">
            @if (readonly) {
                <button mat-flat-button mat-dialog-close>Close</button>
            } @else {
                <button mat-button mat-dialog-close>Cancel</button>
                <button
                    [disabled]="!editLabelForm.dirty || editLabelForm.invalid || saving.value"
                    type="button"
                    (click)="editLabel()"
                    mat-flat-button>
                    <span *nifiSpinner="saving.value">Apply</span>
                </button>
            }
        </mat-dialog-actions>
    }
</form>
