/*!
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

// Custom Colors following Material Design
// For more information: https://m2.material.io/design/color/the-color-system.html
@use 'sass:map';
@use '@angular/material' as mat;
@use '../utils.scss' as utils;

// Define some variables that are re-used throughout the theme.
$on-surface-dark: rgba(#000000, .87);
$on-surface-light: #ffffff;

// The $material-primary-light-palette define the PRIMARY AND ACCENT palettes for all Angular Material components used throughout Apache NiFi
$material-primary-light-palette: (
    // 50 -> 900 are the PRIMARY colors (mat.define-palette($material-primary-light-palette, 300);) defined by https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors for primary color #728e9b
    50: rgba(#F9FAFB, 0.97),
    100: #e5ebed, // "lighter" hue for this palette. Also .global-menu:hover, .navigation-control-header:hover, .operation-control-header:hover, .new-canvas-item.icon.hovering, table tr:hover, .CodeMirror.blank, .remote-banner, .process-group-details-banner, .process-group-details-banner, remote-process-group-details-banner, .remote-process-group-last-refresh-rect,
    200: #cbd8dd, // .processor-stats-border, .process-group-stats-border, .context-menu-item:hover, .process-group-banner, .remote-process-group-banner, .a
    300: #abbdc5, // .breadcrumb-container, .navigation-control, .operation-control, .flow-status, .controller-bulletins, .component-button-grip, .search-container, .nifi-navigation, .CodeMirror.blank
    400: #8aa2ad, // Default hue for this palette (color="primary").
    500: #728e9b, // .disabled, .not-transmitting, .splash, .access-policies-header, .operation-context-type, .bulletin-board-header, .counter-header, .stats-info, .active-thread-count-icon, .processor-type, .port-transmission-icon, .operation-context-type, .flow-status.fa, .flow-status.icon, .controller-bulletins, .prioritizers-list, .controller-services-header, .login-title, .parameter-context-header, .parameter-context-inheritance-list, .provenance-header, .flowfile-header, .queue-listing-header, .settings-header, .summary-header, .user-header, table th, button.global-menu-item.fa, button.global-menu-item.icon, .event-header, .section-header,
    600: #597b8a, // .breadcrumb-container, .birdseye-brush
    700: #4e6c79, // "darker" hue for this palette. Also #status-history-chart-container text, #status-history-chart-control-container text
    800: #3f5863,
    900: #31454e,

    // A100 -> A700 are the ACCENT color (mat.define-palette($material-primary-light-palette, A400, A100, A700);). These color are the ANALOGOUS (or possibly the TRIADIC??) colors as defined by https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors for primary color #728e9b
    // These colors are also used by some custom canvas components that display the ANALOGOUS color for things like buttons, links, borders, info, etc.
    A100: rgba(#1491C1, 0.12), // .hint-pattern
    A200: #aabec7, // .zero
    A400: #44a3cf, // .enabled, .transmitting, .load-balance-icon-active
    A700: #004849, // a, a:hover, .add-tenant-to-policy-form.fa, .component.selected rect.border, .add-connect, .remote-process-group-uri, .remote-process-group-transmission-secure, .navigation-control.fa, .operation-control.fa, .new-canvas-item.icon, .upload-flow-definition, .lineage-controls.fa, .event circle.context, .nifi-navigation.icon, .listing-table.fa, .listing-table.icon, .context-menu
    // These are the $material-primary-light-palette PRIMARY AND ACCENT contrast colors. These color do not really get defined by https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors.
    // Instead if we look to the Angular Material provided palettes we see that these fields are typically rgba(black, 0.87) or white. These values are particularly important
    // for light mode and dark mode as these values set the colors for the text when displayed against the primary background on a button, badge, chip, etc.
    //
    // NOTE: Care should be taken here to ensure the values meet accessibility standards.
    //
    // NOTE: When creating the Material palette definition mat.define-palette($material-primary-light-palette, 300);
    // Since 300, was set as the default the contrast-300 will be used as the default text color.
    contrast: (
        50: $on-surface-dark,
        100: $on-surface-dark,
        200: $on-surface-dark,
        300: $on-surface-dark,
        400: $on-surface-dark,
        500: $on-surface-dark,
        600: $on-surface-light,
        700: $on-surface-light,
        800: $on-surface-light,
        900: $on-surface-light,
        A100: $on-surface-dark,
        A200: $on-surface-dark,
        A400: $on-surface-dark,
        A700: $on-surface-light,
    )
);

$material-accent-light-palette: (
    50: #fff8cc,
    100: #ebe2be,
    200: #d7cbb0, // lighter
    300: #c4b5a2,
    400: #b09e94,
    500: #9c8886, // default
    600: #8f7775,
    700: #836563,
    800: #765452, // darker
    900: #4a3435,
    A100: #e7ebbe,
    A200: #d7d7b0,
    A400: #b0ab94,
    A700: #020202,
    contrast: (
        50: $on-surface-dark,
        100: $on-surface-dark,
        200: $on-surface-dark,
        300: $on-surface-dark,
        400: $on-surface-dark,
        500: $on-surface-dark,
        600: $on-surface-dark,
        700: $on-surface-light,
        800: $on-surface-light,
        900: $on-surface-light,
        A100: $on-surface-dark,
        A200: $on-surface-dark,
        A400: $on-surface-dark,
        A700: $on-surface-dark,
    )
);

// The $warn-light-palette defines the WARN palette both for all Angular Material components used throughout Apache NiFi and for all flow designer canvas components that make up the NiFi canvas theme used throughout Apache NiFi
$warn-light-palette: (
    // 50 -> 900 are the PRIMARY colors defined by https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors for primary color #f64e4c
    50: #ffebee,
    100: #ffccd2,
    200: #f49999, // "lighter" hue for this palette..stopped
    300: #f57472,
    400: #f64e4c, // color="primary" Default hue for this palette. Also .unauthorized, .restricted, .connection-path.full, .connection-path.unauthorized, .backpressure-percent.error, .controller-bulletins.has-bulletins, .link.selected, circle.selected, .listing-message, .fa-shield, .stale
    500: #fa3b30,
    600: #ff1507, // .bulletin-error
    700: #ff0000, //.connector, .startpoint
    800: #ec3030,
    900: #ba554a, // "darker" hue for this palette .bulletin-background
    A100: #ffef85, //.sync-failure
    A200: #f8bf47, //.invalid, .is-missing-port, circle.context
    A400: #f29833, // .active-thread-count, .process-group-contents-count, .operation-context-id, .selected-type-name
    A700: #eb711e, // .version-control
    contrast: (
        50: $on-surface-dark,
        100: $on-surface-dark,
        200: $on-surface-dark,
        300: $on-surface-dark,
        400: $on-surface-dark,
        500: $on-surface-dark,
        600: $on-surface-dark,
        700: $on-surface-dark,
        800: $on-surface-dark,
        900: $on-surface-light,
        A100: $on-surface-dark,
        A200: $on-surface-dark,
        A400: $on-surface-dark,
        A700: $on-surface-dark,
    )
);

// Dark and light palettes are identical for NiFi, their "default", "lighter", and "darker" values are different and set below.
$material-primary-dark-palette: $material-primary-light-palette;
$material-accent-dark-palette: $material-accent-light-palette;
$warn-dark-palette: $warn-light-palette;

// Append a special case to the light palette to preserve the legacy styling of NiFi's navigation bar.
$material-primary-light-palette: map.set($material-primary-light-palette, 'navbar', #aabdc5);

// We need to pull out the contrast palette and add the contrast to it, then restore it.
$contrasts: map.get($material-primary-light-palette, 'contrast');
$contrasts: map.set($contrasts, 'navbar', #004849);
$material-primary-light-palette: map.set($material-primary-light-palette, 'contrast', $contrasts);

// Define the palettes for your theme
$material-primary-light: mat.define-palette($material-primary-light-palette, 600, 300, 700);
$material-accent-light: mat.define-palette($material-accent-light-palette, 500, 200, 800);
$warn-light: mat.define-palette($warn-light-palette, 400, 200, 900);

// Create the theme objects. We can extract the values we need from the theme passed into the mixins.
$material-theme-light: mat.define-light-theme(
        (
            color: (
                primary: $material-primary-light,
                accent: $material-accent-light,
                warn: $warn-light
            ),
            //typography: mat.define-typography-config(), // TODO: typography
            density: -3
        )
);

// Create the color palettes used in our dark theme.
$material-primary-dark: mat.define-palette($material-primary-dark-palette, 400, 200, 600);
$material-accent-dark: mat.define-palette($material-accent-dark-palette, 400, 300, 700);
$warn-dark: mat.define-palette($warn-dark-palette, 500, 200, 700);

$material-theme-dark: mat.define-dark-theme(
        (
            color: (
                primary: $material-primary-dark,
                accent: $material-accent-dark,
                warn: $warn-dark
            ),
            density: 0,
            typography: mat.define-typography-config(),
        )
);

@mixin generate-theme($material-theme) {
    // Get the color config from the theme.
    $material-theme-color-config: mat.get-color-config($material-theme);

    // Get the palette
    $material-theme-primary-palette: map.get($material-theme-color-config, 'primary');
    $material-theme-accent-palette: map.get($material-theme-color-config, 'accent');
    $material-theme-warn-palette: map.get($material-theme-color-config, 'warn');

    // default/lighter/darker colors from the material theme palettes
    $material-theme-primary-palette-default: mat.get-color-from-palette($material-theme-primary-palette, 'default');
    $material-theme-primary-palette-lighter: mat.get-color-from-palette($material-theme-primary-palette, 'lighter');
    $material-theme-primary-palette-darker: mat.get-color-from-palette($material-theme-primary-palette, 'darker');
    $material-theme-primary-palette-A400: mat.get-color-from-palette($material-theme-primary-palette, 'A400');
    $material-theme-accent-palette-default: mat.get-color-from-palette($material-theme-accent-palette, 'default');
    $material-theme-accent-palette-lighter: mat.get-color-from-palette($material-theme-accent-palette, 'lighter');
    $material-theme-accent-palette-darker: mat.get-color-from-palette($material-theme-accent-palette, 'darker');
    $material-theme-warn-palette-default: mat.get-color-from-palette($material-theme-warn-palette, 'default');
    $material-theme-warn-palette-lighter: mat.get-color-from-palette($material-theme-warn-palette, 'lighter');
    $material-theme-warn-palette-darker: mat.get-color-from-palette($material-theme-warn-palette, 'darker');
    $material-theme-warn-palette-A200: mat.get-color-from-palette($material-theme-warn-palette, 'A200');

    .mat-primary-default {
        color: $material-theme-primary-palette-default !important;
        fill: $material-theme-primary-palette-default !important;
    }

    .mat-primary-lighter {
        color: $material-theme-primary-palette-lighter !important;
        fill: $material-theme-primary-palette-lighter !important;
    }

    .mat-primary-darker {
        color: $material-theme-primary-palette-darker !important;
        fill: $material-theme-primary-palette-darker !important;
    }

    .mat-accent-default {
        color: $material-theme-accent-palette-default !important;
        fill: $material-theme-accent-palette-default !important;
    }

    .mat-accent-lighter {
        color: $material-theme-accent-palette-lighter !important;
        fill: $material-theme-accent-palette-lighter !important;
    }

    .mat-accent-darker {
        color: $material-theme-accent-palette-darker !important;
        fill: $material-theme-accent-palette-darker !important;
    }

    .mat-warn-default {
        color: $material-theme-warn-palette-default !important;
        fill: $material-theme-warn-palette-default !important;
    }

    .mat-warn-lighter {
        color: $material-theme-warn-palette-lighter !important;
        fill: $material-theme-warn-palette-lighter !important;
    }

    .mat-warn-darker {
        color: $material-theme-warn-palette-darker !important;
        fill: $material-theme-warn-palette-darker !important;
    }

    /* other classes and overriding 3rd party styles */

    .enabled {
        color: $material-theme-primary-palette-A400 !important;
        fill: $material-theme-primary-palette-A400 !important;
    }

    .has-errors,
    .invalid {
        color: $material-theme-warn-palette-A200 !important;
        fill: $material-theme-warn-palette-A200 !important;
    }

    .zero {
        opacity: 0.5;
    }

    // Because snackbars have different surface colors, we need to make sure the action color has enough contrast.
    $is-dark: map.get($material-theme-color-config, 'is-dark');
    $snack-surface: if($is-dark, #d9d9d9, #333333);
    // calculate the color for text on top of themed snackbar surface colored element
    $snack-action-color: utils.get-color-on-surface($material-theme-color-config, $snack-surface, 'accent');

    * {
        // Tailwind sets a default that doesn't shift with light and dark themes
        --mat-snack-bar-button-color: #{$snack-action-color};
    }
}

