<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="parameter-context-inheritance flex gap-x-4" cdkDropListGroup>
    <div class="flex flex-col w-full">
        <div>Available Parameter Contexts</div>
        <div
            class="parameter-context-inheritance-list border"
            cdkDropList
            cdkDropListSortingDisabled
            [cdkDropListDisabled]="isDisabled"
            [cdkDropListData]="availableParameterContexts"
            (cdkDropListDropped)="dropAvailable($event)">
            @for (item of availableParameterContexts; track item; let i = $index) {
                <div
                    class="parameter-context-draggable-item border-b on-surface-default m-1"
                    cdkDrag
                    cdkDragPreviewContainer="parent"
                    [cdkDragDisabled]="!item.permissions.canRead">
                    <ng-container
                        *ngTemplateOutlet="
                            item.permissions.canRead
                                ? authorizedInheritedParameterContext
                                : unauthorizedInheritedParameterContext;
                            context: { $implicit: item, i: i, canClose: false }
                        "></ng-container>
                </div>
            }
        </div>
    </div>
    <div class="flex flex-col w-full">
        <div>Selected Parameter Contexts</div>
        <div
            class="parameter-context-inheritance-list border"
            cdkDropList
            [cdkDropListDisabled]="isDisabled"
            [cdkDropListData]="selectedParameterContexts"
            (cdkDropListDropped)="dropSelected($event)">
            @for (item of selectedParameterContexts; track item; let i = $index) {
                <div
                    class="parameter-context-draggable-item border-b m-1"
                    cdkDrag
                    cdkDragPreviewContainer="parent"
                    [cdkDragDisabled]="!item.permissions.canRead">
                    <ng-container
                        *ngTemplateOutlet="
                            item.permissions.canRead
                                ? authorizedInheritedParameterContext
                                : unauthorizedInheritedParameterContext;
                            context: { $implicit: item, i: i, canClose: true }
                        "></ng-container>
                </div>
            }
        </div>
    </div>
    <ng-template #authorizedInheritedParameterContext let-item let-i="i" let-canClose="canClose">
        <div class="flex gap-x-3 items-center">
            <div>{{ item.component.name }}</div>
            @if (hasDescription(item)) {
                <div
                    class="fa fa-question-circle primary-color"
                    nifiTooltip
                    [tooltipComponentType]="TextTip"
                    [tooltipInputData]="getDescriptionTipData(item)"></div>
            }
        </div>
        @if (canClose) {
            <button type="button" (click)="removeSelected(item, i)" [disabled]="isDisabled">
                <i class="fa fa-times primary-color"></i>
            </button>
        }
    </ng-template>
    <ng-template #unauthorizedInheritedParameterContext let-item>
        <div>{{ item.id }}</div>
    </ng-template>
</div>
