<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<div class="pb-5 flex flex-col h-screen justify-between gap-y-5">
    <header class="nifi-header">
        <navigation></navigation>
    </header>
    <div class="px-5 flex-1 flex flex-col">
        <h3 class="text-xl bold primary-color pb-5">Manage Remote Ports</h3>
        @if (portsState$ | async; as portsState) {
            <div class="grid-container grid grid-cols-2">
                <div class="col-span-1 pr-5">
                    <div class="flex flex-col mb-5">
                        <div>Name</div>
                        <div
                            class="overflow-ellipsis overflow-hidden whitespace-nowrap accent-color font-medium"
                            [title]="portsState.rpg?.id">
                            {{ portsState.rpg?.id }}
                        </div>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="flex flex-col mb-5">
                        <div>Urls</div>
                        <div
                            class="overflow-ellipsis overflow-hidden whitespace-nowrap accent-color font-medium"
                            [title]="portsState.rpg?.component?.targetUri">
                            {{ portsState.rpg?.component?.targetUri }}
                        </div>
                    </div>
                </div>
            </div>
            @if (isInitialLoading(portsState)) {
                <div>
                    <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
                </div>
            } @else {
                <div class="flex flex-col h-full gap-y-2">
                    <div class="flex-1">
                        <div class="manage-remote-ports-table relative h-full">
                            <div class="listing-table absolute inset-0 overflow-y-auto">
                                <table
                                    mat-table
                                    [dataSource]="dataSource"
                                    matSort
                                    matSortDisableClear
                                    (matSortChange)="sortData($event)"
                                    [matSortActive]="initialSortColumn"
                                    [matSortDirection]="initialSortDirection">
                                    <!-- More Details Column -->
                                    <ng-container matColumnDef="moreDetails">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let item">
                                            <div class="flex items-center gap-x-3">
                                                @if (hasComments(item)) {
                                                    <div>
                                                        <div
                                                            class="pointer fa fa-comment primary-color"
                                                            nifiTooltip
                                                            [delayClose]="false"
                                                            [tooltipComponentType]="TextTip"
                                                            [tooltipInputData]="getCommentsTipData(item)"></div>
                                                    </div>
                                                }
                                                @if (portExists(item)) {
                                                    <div>
                                                        <div
                                                            class="pointer fa fa-warning invalid"
                                                            nifiTooltip
                                                            [delayClose]="false"
                                                            [tooltipComponentType]="TextTip"
                                                            [tooltipInputData]="getDisconnectedTipData()"></div>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">Name</div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatName(item)">
                                            {{ formatName(item) }}
                                        </td>
                                    </ng-container>

                                    <!-- Type Column -->
                                    <ng-container matColumnDef="type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">Type</div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatType(item)">
                                            {{ formatType(item) }}
                                        </td>
                                    </ng-container>

                                    <!-- Tasks Column -->
                                    <ng-container matColumnDef="tasks">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">
                                                Concurrent Tasks
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatTasks(item)">
                                            <span
                                                [class.nifi-surface-default]="!item.concurrentlySchedulableTaskCount"
                                                [class.blank]="!item.concurrentlySchedulableTaskCount">
                                                {{ formatTasks(item) }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Compression Column -->
                                    <ng-container matColumnDef="compression">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">
                                                Compressed
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatCompression(item)">
                                            {{ formatCompression(item) }}
                                        </td>
                                    </ng-container>

                                    <!-- Batch Count Column -->
                                    <ng-container matColumnDef="count">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">
                                                Batch Count
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatCount(item)">
                                            <span
                                                [class.nifi-surface-default]="isCountBlank(item)"
                                                [class.blank]="isCountBlank(item)">
                                                {{ formatCount(item) }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Batch Size Column -->
                                    <ng-container matColumnDef="size">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">
                                                Batch Size
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatSize(item)">
                                            <span
                                                [class.nifi-surface-default]="isSizeBlank(item)"
                                                [class.blank]="isSizeBlank(item)">
                                                {{ formatSize(item) }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Batch Duration Column -->
                                    <ng-container matColumnDef="duration">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            <div class="overflow-ellipsis overflow-hidden whitespace-nowrap">
                                                Batch Duration
                                            </div>
                                        </th>
                                        <td mat-cell *matCellDef="let item" [title]="formatDuration(item)">
                                            <span
                                                [class.nifi-surface-default]="isDurationBlank(item)"
                                                [class.blank]="isDurationBlank(item)">
                                                {{ formatDuration(item) }}
                                            </span>
                                        </td>
                                    </ng-container>

                                    <!-- Actions Column -->
                                    <ng-container matColumnDef="actions">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let port">
                                            <div class="flex items-center gap-x-3">
                                                @if (
                                                    port.exists === true &&
                                                    port.connected === true &&
                                                    port.transmitting === false
                                                ) {
                                                    <div
                                                        class="pointer fa fa-pencil primary-color"
                                                        (click)="configureClicked(port, $event)"
                                                        title="Edit Port"></div>
                                                }

                                                @if (currentRpg) {
                                                    @if (port.transmitting) {
                                                        <div
                                                            class="pointer nifi-success-default fa fa-bullseye"
                                                            (click)="toggleTransmission(port)"
                                                            title="Transmitting: click to toggle port transmission"></div>
                                                    } @else {
                                                        @if (port.connected && port.exists) {
                                                            <div
                                                                class="pointer not-transmitting icon icon-transmit-false primary-color"
                                                                (click)="toggleTransmission(port)"
                                                                title="Not Transmitting: click to toggle port transmission"></div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                    <tr
                                        mat-row
                                        *matRowDef="let row; let even = even; columns: displayedColumns"
                                        (click)="select(row)"
                                        [class.selected]="isSelected(row)"
                                        [class.even]="even"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="refresh-container flex items-center gap-x-2">
                            <button mat-icon-button color="primary" (click)="refreshManageRemotePortsListing()">
                                <i class="fa fa-refresh" [class.fa-spin]="portsState.status === 'loading'"></i>
                            </button>
                            <div>Last updated:</div>
                            <div class="accent-color font-medium">
                                {{ portsState.loadedTimestamp }}
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
