/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import 'assets/fonts/flowfont/flowfont.css';
@import '~font-awesome/css/font-awesome.min.css';

$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Robot Slab', sans-serif;
$fontMedium: 'Roboto Medium', sans-serif;
$fontLight: 'Roboto Light', sans-serif;

$appFontPath: '~roboto-fontface/fonts';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src:
        local('Roboto Light'),
        local('Roboto-Light'),
        url('#{$appFontPath}/roboto/Roboto-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src:
        local('Roboto LightItalic'),
        local('Roboto-LightItalic'),
        url('#{$appFontPath}/roboto/Roboto-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src:
        local('Roboto Regular'),
        local('Roboto-Regular'),
        url('#{$appFontPath}/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src:
        local('Roboto Medium'),
        local('Roboto-Medium'),
        url('#{$appFontPath}/roboto/Roboto-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src:
        local('Roboto Bold'),
        local('Roboto-Bold'),
        url('#{$appFontPath}/roboto/Roboto-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
    src:
        local('Roboto Italic'),
        local('Roboto-Italic'),
        url('#{$appFontPath}/roboto/Roboto-RegularItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    src:
        local('RobotoSlab Regular'),
        local('RobotoSlab-Regular'),
        url('#{$appFontPath}/roboto-slab/Roboto-Slab-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    src:
        local('RobotoSlab Bold'),
        local('RobotoSlab-Bold'),
        url('#{$appFontPath}/roboto-slab/Roboto-Slab-Bold.woff2') format('woff2');
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

$nifi-primary-palette: (
    50: #eef1f3,
    100: #d5dde1,
    200: #b9c7cd,
    300: #9cb0b9,
    400: #879faa,
    500: #728e9b,
    600: #6a8693,
    700: #5f7b89,
    800: #55717f,
    900: #425f6d,
    A100: #c7ecff,
    A200: #94daff,
    A400: #61c9ff,
    A700: #47c0ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

$nifi-accent-palette: (
    50: #fcfcfd,
    100: #f7f8f9,
    200: #f1f4f5,
    300: #ebeff1,
    400: #e7ebee,
    500: #e3e8eb,
    600: #e0e5e9,
    700: #dce2e5,
    800: #d8dee2,
    900: #d0d8dd,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nifi-primary: mat.define-palette($nifi-primary-palette);
$nifi-accent: mat.define-palette($nifi-accent-palette);

//#728e9b
//#aabbc3
//#e3e8eb

// The warn palette is optional (defaults to red).
$nifi-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nifi-theme: mat.define-light-theme(
    (
        color: (
            primary: $nifi-primary,
            accent: $nifi-accent,
            warn: $nifi-warn
        )
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nifi-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.small-dialog {
    min-width: 320px;
}

.medium-dialog {
    min-width: 470px;
}

.medium-short-dialog {
    max-height: 32%;
    max-width: 34%;
    min-height: 250px;
    min-width: 440px;
    font-size: 13px;
}

.large-dialog {
    max-height: 72%;
    max-width: 55%;
    min-height: 560px;
    min-width: 760px;
}

.tooltip {
    position: fixed;
    max-width: 500px;
    padding: 10px;
    background-color: #fff;
    border-radius: 2px;
    border-width: 1px;
    border-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    margin-top: 5px;
    font-size: 13px;
    font-family: Roboto;
    font-weight: 400;
    word-wrap: break-word;
    color: #000;

    ul {
        list-style: disc outside;
        margin-left: 1em;
    }
}
