/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@use 'sass:math' as math;

$handle-size: 15px;

:host:hover .resizable-triangle {
    opacity: 1;
}

.resizable-handle {
    background: unset;
    position: absolute;
    width: $handle-size;
    height: $handle-size;
    bottom: 10px;
    right: 10px;
    cursor: se-resize;
}

.resizable-triangle {
    pointer-events: none;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
    position: absolute;
    width: 0;
    height: 0;
    border-left: math.div($handle-size, 2) solid transparent;
    border-top: math.div($handle-size, 2) solid transparent;
    border-right-width: math.div($handle-size, 2);
    border-right-style: solid;
    border-bottom-width: math.div($handle-size, 2);
    border-bottom-style: solid;
    bottom: 10px;
    right: 10px;
}
