/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Graph Styles
*/

#canvas-container {
    position: absolute;
    overflow: hidden;
    top: 117px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: transparent url(../images/grid.gif) repeat scroll 0 0;
    z-index: 1;
}

.tooltip {
    display: none;
    position: absolute;
    padding: 10px;
    z-index: 1000;
    border: 3px solid #959FA9;
    background-color: #F9F9F9;
    color: #454545;
}

/* svg styles */

text.unset {
    font-style: italic;
    font-weight: normal;
    fill: #aaa;
}

.moveable {
    cursor: pointer;
}

/*
    All components
*/

g.component {
    font-family: Arial,​ sans-serif;
}

g.component.selected rect.border {
    stroke: #ffcc00;
    stroke-width: 5;
}

g.funnel.selected rect.border {
    stroke-width: 2.5;
}

/*
    Selection
*/

g.component.connectable-destination rect.border {
    stroke: #00ff00;
    stroke-width: 3;
}

rect.selection, rect.drag-selection, rect.label-drag {
    stroke: #444444;
    stroke-opacity: 0.5;
    fill: transparent;
}

image.add-connect {
    cursor: pointer;
}

/*
    Processor
*/

text.processor-stats-label {
    fill: #fff;
    font-size: 11px;
    font-weight: bold;
}

text.processor-stats-value {
    font-size: 11px;
}

text.processor-stats-info {
    fill: #999999;
    font-size: 11px;
}

/*
    Connection
*/

g.connection {
    font-family: Arial,​ sans-serif;
}

path.connector {
    fill: none;
    pointer-events: none;
    stroke: #ff0000;
    stroke-width: 3;
    stroke-opacity: 0.5;
    stroke-dasharray: 2;
}

path.connector.connectable {
    stroke: #00ff00;
    stroke-width: 3;
    stroke-dasharray: 4;
}

g.connection rect.connection-label {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2;
}

g.connection path.connection-path {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    cursor: pointer;
}

/* grouped connection */

g.connection.grouped path.connection-path, g.connection.grouped rect.connection-label {
    stroke-width: 3;
}

/* ghost connection */

g.connection.ghost path.connection-path, g.connection.ghost rect.connection-label {
    stroke: #aaaaaa;
    stroke-dasharray: 4;
}

g.connection path.connection-selection-path {
    visibility: hidden;
    stroke-width: 1;
    stroke: #ffcc00;
    fill: none;
}

g.connection path.connection-path-selectable {
    visibility: hidden;
    stroke-width: 20;
    fill: none;
    cursor: pointer;
}

g.connection.selected path.connection-selection-path {
    visibility: visible;
}

g.connection rect.linepoint {
    visibility: hidden;
    stroke-width: 1;
}

g.connection.selected rect.linepoint {
    visibility: visible;
}

g.connection rect.startpoint {
    stroke: #ff0000;
    fill: #ff0000;
}

g.connection rect.midpoint {
    stroke: #ffcc00;
    fill: #ffcc00;
    cursor: pointer;
}

g.connection rect.endpoint {
    stroke: #0000ff;
    fill: #0000ff;
    cursor: pointer;
}

g.connection text.connection-stats-label {
    font-size: 11px;
    font-weight: bold;
    fill: #598599;
}

/* labels */

g.label rect.labelpoint {
    display: none;
    stroke-width: 1;
    stroke: #ffcc00;
    fill: #ffcc00;
    cursor: se-resize;
}

g.label.selected rect.labelpoint {
    display: block;
}

/* funnels */

/* ports */

/* active thread count */

text.active-thread-count {
    font-size: 10px;
}

/* process groups */

g.process-group.drop rect.border {
    stroke: #0000ff;
    stroke-width: 3;
}

text.process-group-contents-count {
    font-weight: bold;
    fill: #294c58;
}

text.process-group-stats-label {
    font-size: 11px;
    font-weight: bold;
    fill: #598599;
}

text.process-group-stats-value {
    font-size: 11px;
}

text.process-group-stats-info {
    fill: #999999;
    font-size: 11px;
}

/* remote process group */

text.remote-process-group-last-refresh {
    fill: #cccccc;
    font-style: italic;
    text-anchor: end;
}