/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Port details
*/

#port-details {
    z-index: 1301;
    display: none;
    width: 400px;
    height: 300px;
    border: 1px solid #eee;
}

/*
    Secure port details.
*/

#secure-port-details {
    z-index: 1301;
    display: none;
    height: 425px;
    width: 400px;
    border: 1px solid #eee;
}

#secure-port-details-tabs {
    background-color: transparent;
    border-bottom: 3px solid #666666;
    height: 21px;
    width: 380px;
}

#secure-port-details div.configuration-tab {
    background: url("../images/bgTabContainer.png") repeat-x scroll 0 0 #EEEEEE;
    display: none;
    height: 315px;
    padding: 10px;
    width: 360px;
    z-index: 1301;
}