/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Processor configuration styles.
*/

#processor-configuration {
    position: absolute;
    overflow: hidden;
    width: 800px;
    height: 450px;
    font-size: 10px;
    z-index: 1201;
    display: none;
    border: 1px solid #eee;
}

div.processor-configuration-tab-container {
    margin-top: -10px;
    padding: 5px 11px;
}

#processor-configuration-advanced {
    display: none;
}

#processor-configuration-tabs {
    background-color: transparent;
    width: 778px;
    height: 21px;
    border-bottom: 3px solid #666;
}

#processor-configuration div.configuration-tab {
    height: 320px;
    overflow: auto;
    padding: 10px;
    background: #eee url(../images/bgTabContainer.png) repeat-x;
    display: none;
}

/* processor settings */

#processor-configuration div.settings-left {
    float: left;
    width: 330px;
}

#processor-configuration div.settings-right {
    float: left;
    width: 382px;
}

#processor-configuration div.spacer {
    float: left;
    margin-right: 40px;
}

#processor-configuration .setting-input {
    font-size: 11px !important;
    width: 320px;
}

#processor-configuration .small-setting-input {
    font-size: 11px !important;
    width: 130px;
}

#processor-name {
    font-size: 11px !important;
    width: 250px;
    float: left;
}

#processor-enabled {
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 4px;
}

div.processor-enabled-container {
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}

#bulletin-level-combo {
    width: 130px;
    height: 18px;
    line-height: 18px;
}

#scheduling-strategy-combo {
    width: 130px;
    height: 18px;
    line-height: 18px;
}

#event-driven-warning {
    padding-top: 22px;
    color: #f00;
}

#event-driven-warning-icon {
    float: left;
    margin-top: -2px;
    margin-right: 5px;
    margin-left: 5px;
    width: 18px;
    height: 16px;
    background-image: url(../images/iconAlert.png);
}

#auto-terminate-relationship-names {
    border: 0 solid #CCCCCC;
    height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2px;
    width: 376px;
}

div.processor-relationship-container {
    margin-bottom: 7px;
}

#processor-configuration div.relationship-name {
    display: inline-block;
    line-height: normal;
    width: 340px;
}

div.relationship-description {
    color: #888;
    margin-left: 16px;
    margin-top: 2px;
}

#run-duration-container {
    height: 20px;
    width: 382px;
}

#run-duration-slider {
    margin-top: 5px;
    border-radius: 0;
}

#run-duration-slider .ui-slider-handle {
    border-radius: 0;
    border: 1px solid #999;
    outline: none;
}

#run-duration-labels {
    font-family: sans-serif;
}

#run-duration-zero {
    float: left;
}

#run-duration-one {
    float: left;
    margin-left: 25px;
}

#run-duration-two {
    float: left;
    margin-left: 28px;
}

#run-duration-three {
    float: left;
    margin-left: 27px;
}

#run-duration-four {
    float: left;
    margin-left: 24px;
}

#run-duration-five {
    float: left;
    margin-left: 23px;
}

#run-duration-six {
    float: left;
    margin-left: 33px;
}

#run-duration-seven {
    float: right;
}

#run-duration-explanation {
    margin-top: 5px;
    color: #9F6000;
    font-size: 9px;
    font-weight: bold;
    line-height: normal;
}

#min-run-duration-explanation {
    float: left;
}

#max-run-duration-explanation {
    float: right;
}

/* properties */

#processor-properties-header {
    margin-bottom: 10px;
    height: 19px;
}

#add-property {
    float: right;
    margin-right: 20px;
}

#processor-property-dialog .nfel-editor {
    margin-bottom: 35px;
}

#new-property-name-container {
    position: absolute;
    height: 25px;
    left: 10px;
    right: 10px;
    padding-right: 10px;
    overflow: hidden; 
    margin-bottom: 10px;
}

#new-property-name {
    height: 14px;
    width: 100%;
}

#new-property-button-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 8px 10px;
}

#add-property-icon {
    width: 19px;
    height: 19px;
    cursor: pointer;
    float: left;
}

div.add-icon-bg {
    background: transparent url(../images/buttonNewProperty.png) no-repeat scroll top left;
}

div.add-icon-bg-hover {
    background: transparent url(../images/buttonNewProperty.png) no-repeat scroll top right;
}

#add-text {
    float: left;
    margin-left: 5px;
    height: 19px;
    line-height: 19px;
}

#required-property-note {
    font-weight: bold;
    float: left;
    height: 19px;
    line-height: 19px;
    margin-left: 6px;
}

#processor-properties {
    width: 758px;
    height: 290px;
    border-bottom: 1px solid #666;
    background-color: #fff;
}

#configuration-buttons {
    text-align: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*
    Styles for the processor property editor.
*/

div.slickgrid-nfel-editor .nfel-editor {
    margin-bottom: 30px;
}

div.edit-property-value {
    height: 20px;
    padding-right: 60px;
}

textarea.value-field {
    float: left;
    width: 95%;
    height: 26px;
    font-size: 11px !important;
    resize: vertical;
    overflow-y: auto;
}

div.string-check-container {
    float: left;
    margin-top: 1px;
    height: 20px;
    line-height: 20px;
}

div.string-check {
    width: 12px;
    height: 12px;
    float: left;
    margin-top: 4px;
    margin-left: 4px;
}

span.string-check-label {
    font-size: 9px;
    font-weight: normal;
}

div.value pre {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

/*
    Styles for the property value combo
*/

div.edit-property-value-combo {
    height: 22px;
}

div.value-combo {
    height: 18px;
    margin-top: 0px;
    float: left;
}

/*
    Table styles
*/

td.right-border {
    border-right: 1px solid #aaa;
}

/*
    Comments
*/

#processor-comments {
    height: 250px;
    width: 748px !important;
    margin-top: 10px;
}