/*#############################################################
Name: Transparentia
Date: 2006-08-20
Description: Simple, lightweight and slightly blue.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #496878;
}

a:hover {
    color: #6a90a4;
}

body {
    background-color: #DFE8EC;
    color: #444;
    font: normal 62.5% "Lucida Sans Unicode",sans-serif;
    margin: 0;
}

input {
    color: #555;
    font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}

p, cite, code, ul {
    font-size: 12px;
    padding-bottom: 1.2em;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 4px;
}

h2 {
    font-size: 1.2em;
}

code {
    background: url(img/bgcode.gif);
    border: 1px solid #F0F0F0;
    border-left: 6px solid #39F;
    color: #555;
    display: block;
    font: normal 1.1em "Lucida Sans Unicode",serif;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}

cite {
    background: url(img/quote.gif) no-repeat;
    color: #666;
    display: block;
    font: normal 1.3em "Lucida Sans Unicode",serif;
    padding-left: 28px;
}

h1, h2, h3 {
    color: #294c58;
    padding-top: 6px;
}

/* misc */
.clearer {
    clear: both;
}

.deprecated {
    color: red;
}

.errortext {
    color: red;
    padding: 6px 12px;
    font-variant:small-caps;
}

/* structure */
.container {
    background: url(img/bgcontainer.png) repeat-y;
    margin: 0 auto;
    padding-bottom: 6px;
    width: 767px;
}

.header {
    background: url(img/header.png) no-repeat;
}

/* title */
.title h1 {
    font: normal 3em Verdana,sans-serif;
    height: 150px;
    line-height: 150px;
    margin-bottom: 8px;
    text-align: center;
    position: relative;
    left: -5000px;
}

/* main */
.main {
    clear: both;
    padding: 8px 18px;
}

/* main left */
.sidenav h1, .sidenav ul {
    padding-left: 12px;
}

.sidenav {
    background: #EEE;
    border: 1px solid #E5E5E5;
    float: left;
    width: 200px;
}

.sidenav h1 {
    color: #666;
    font-size: 1.2em;
    /*height: 20px;*/
    margin-top: 1.2em;
}

.sidenav ul {
    border-top: 1px solid #FAFAFA;
    background: url(img/bgul.gif) repeat-x;
    margin: 0;
    padding: 0;
}

.sidenav li {
    border: 1px solid #FAFAFA;
    border-top: none;
    list-style: none;
    margin: 0;
}

.sidenav li a {
    color: #777;
    display: block;
    font-size: 0.9em;
    padding: 3px 6px 3px 14px;
    text-decoration: none;
}

.sidenav li a:hover {
    color: #111;
}

/* content */
.content {
    float: right;
    width: 520px;
}

.content .item {
    padding: 6px 12px;
    background: #FFF;
    margin-bottom: 8px;
}

.content .descr {
    color: #333;
}

.content li {
    list-style: url(img/li.png);
    margin-left: 18px;
}

.content table {
    background: url(img/bgcode.gif);
    border: 1px solid #F0F0F0;
    border-left: 6px solid #6a90a4;
    color: #555;
    display: block;
    font: normal 1.1em "Lucida Sans Unicode",serif;
    margin-bottom: 12px;
    padding: 8px 10px;
}

.content table tr td {
    vertical-align:top;
    text-align:left;
    padding: 3px 3px 3px 3px;
}

.content table tr th {
    vertical-align:top;
    text-align:left;
    padding: 3px 3px 3px 3px;
}

.content h1 {
    /* text-decoration:underline;*/
}

.content h1 a {
    color: #333;
}

/* footer */
.footer {
    background: #FFF;
    color: #999;
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
    padding: 6px;
    width: 720px;
}

.footer a {
    color: #666;
    text-decoration: none;
}

.footer a:hover {
    color: #999;
    text-decoration: underline;
}

/* widecontent (content with no sidenav) */
.widecontent {
    background: #FFF;
    border: 1px solid #EEE;
    color: #666;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 6px;
    width: 720px;
}

.widecontent a {
    color: #36C;
    text-decoration: none;
}

.widecontent a:hover {
    color: #06F;
    text-decoration: underline;
}

.widecontent h1 {
    padding: 6px 12px;
    text-decoration:underline;
}

.widecontent form {
    padding: 6px 12px;
}
