/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Counters Styles
*/

#counters {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#counters-header-and-filter {
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#counters-header-text {
    float: left;
    font-size: 16px;
    font-weight: bold;
}

#counters-refresh-container {
    height: 26px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#counters-last-refreshed-container {
    float: left;
    color: #666;
    font-weight: normal;
    margin-top: 6px;
    margin-left: 3px;
}

#counters-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#counters-last-refreshed {
    font-weight: bold;
}

#counters-header {
    padding-top: 10px;
}

#refresh-button {
    height: 24px;
    width: 26px;
    float: left;
}

/* filter controls */

#counters-filter-controls {
    float: right;
}

#counters-filter-container {
    height: 24px;
    width: 318px;
}

#counters-filter {
    padding: 3px 0px 1px 3px;
    font-size: 12px;
    height: 18px;
    line-height: 20px;
    width: 173px;
    border: 1px solid #ccc;
    margin-right: 3px;
    float: left;
}

input.counters-filter-list {
    color: #888;
}

#counters-filter-type {
    width: 127px;
    height: 18px;
    line-height: 18px;
    float: left;
}

#counters-filter-stats {
    font-size: 9px;
    font-weight: bold;
    color: #9f6000;
    clear: left; 
    line-height: normal;
    margin-left: 5px;
}

/* counters table */

#counters-table {
    position: absolute;
    top: 100px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border: 1px solid #666;
    overflow: hidden;
}
