/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body { 
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    overflow: hidden;
}

#splash {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #7098AD;
    z-index: 2000;
}

#splash-img {
    display: block;
    padding-top: 250px;
    margin: 0px auto;
}

#context-menu {
    display: none;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    z-index: 10006;
}

div.context-menu-item {
    cursor: pointer;
    width: 155px;
    height: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

div.context-menu-item.hover {
    color: #027fd2;
}

img.context-menu-item-img {
    float: left;
    width: 16px;
    height: 16px;
}

div.context-menu-item-text {
    width: 135px;
    margin-left: 4px;
    line-height: 16px;
    float: left;
    font-family: Arial,​ sans-serif;
    font-size: 11px;
}

/*
    General Styles
*/

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
    clear: both;
}

.pointer {
    cursor: pointer !important;
}

.delete td {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

.blank, .unset, .sensitive {
    font-style: italic;
    font-weight: normal;
    color: #aaa;
}

.required {
    font-weight: bold !important;
}

div.nifi-tooltip {
    border: 1px solid #454545;
    background-color: #FFFFA3;
    color: #454545;
    max-width: 500px;
    word-wrap: break-word;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis.multiline {
    white-space: normal;
}

input.filter-list {
    color: #888;
}

.table-cell {
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
    float: left;
    margin-top: 4px;
}

.collapsed {
    background: transparent url(../images/iconTwistArrow.png) no-repeat scroll top left;
}

.expanded {
    background: transparent url(../images/iconTwistArrow.png) no-repeat scroll top right;
}

input[type=text], textarea {
    background: white url(../images/bgInputText.png) repeat-x scroll top;
    border: 1px solid #ccc;
    font-family: Verdana;
    font-size: 12px;
    padding: 4px;
    resize: none;
}

textarea {
    overflow: hidden;
}

ul.property-info {
    list-style-type: disc;
    margin-left: 10px;
}

ul.property-info li {
    padding: 0px 0px;
    margin-left: 10px;
}

div.nf-checkbox {
    cursor: default;
    width: 12px;
    height: 12px;
    float: left;
    margin-right: 4px;
}

div.checkbox-unchecked {
    background: transparent url(../images/inputCheckbox.png) no-repeat scroll top left;
}

div.checkbox-checked {
    background: transparent url(../images/inputCheckbox.png) no-repeat scroll top right;
}

div.ajax-loading {
    background-image: url(../images/iconLoading.gif);
}

div.ajax-complete {
    background-image: url(../images/iconCommit.png);
}

div.ajax-error {
    /*margin-left: -2px;*/
    background-image: url(../images/iconDelete.png);
}

div.button-refresh {
    background: transparent url(../images/buttonRefresh.png) no-repeat scroll top left;
}

div.button-refresh-hover {
    background: transparent url(../images/buttonRefresh.png) no-repeat scroll top right;
}

.ui-draggable .dialog-header {
    cursor: move;
}

/* processor status styles */

div.disabled {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(../images/iconDisable.png) repeat scroll 0 0;
}

div.enabled {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(../images/iconEnable.png) repeat scroll 0 0;
}

div.stopped {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(../images/iconStop.png) repeat scroll 0 0;
}

div.running {
    float: left;
    width: 16px;
    height: 16px;
    background: transparent url(../images/iconRun.png) repeat scroll 0 0;
}

div.has-errors, div.invalid {
    float: left;
    width: 18px;
    height: 16px;
    margin-left: -2px;
    background: transparent url(../images/iconAlert.png) repeat scroll 0 0;
}

div.transmitting {
    float: left;
    width: 18px;
    height: 16px;
    background: transparent url(../images/iconTransmissionActive.png) no-repeat center center;
}

div.not-transmitting {
    float: left;
    width: 18px;
    height: 16px;
    background: transparent url(../images/iconTransmissionInactive.png) no-repeat center center;
}

div.valid {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
}

div.has-bulletins {
    background: transparent url(../images/iconBulletin.png) repeat scroll 0 0;
}

/*
    Styles for status/history/user tables.
*/

span.label, div.label {
    font-weight: bold;
}

div.inline-details {
    margin-top: 10px;
    margin-bottom: 3px;
}

div.inline-details div {
    margin: 2px 0;
}

tr.alt-row {
    background: #f5f5f5 none;
}

span.link {
    cursor: pointer;
    color: #1e373f;
    font-weight: normal;
}

span.link-over {
    color: #264c58;
    text-decoration: underline;
}

span.details-title {
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
}