/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Status Styles
*/

#provenance {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

div.provenance-panel {
    bottom: 20px;
    left: 20px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top: 55px;
}

#provenance-header-and-filter {
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#provenance-header-text {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
}

#provenance-refresh-container {
    height: 26px;
    margin-top: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#provenance-last-refreshed-container {
    float: left;
    color: #666;
    font-weight: normal;
    margin-top: 6px;
    margin-left: 3px;
}

#provenance-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#provenance-last-refreshed {
    font-weight: bold;
}

#provenance-header {
    padding-top: 10px;
}

#refresh-button {
    height: 24px;
    width: 26px;
    float: left;
}

/* filter controls */

#provenance-filter-controls {
    float: right;
}

#provenance-filter-container {
    height: 24px;
    width: 326px;
}

#provenance-filter {
    padding: 3px 0px 1px 3px;
    font-size: 12px;
    height: 18px;
    line-height: 20px;
    width: 173px;
    border: 1px solid #ccc;
    margin-right: 3px;
    float: left;
}

input.provenance-filter-list {
    color: #888;
}

#provenance-filter-type {
    width: 135px;
    height: 18px;
    line-height: 18px;
    float: left;
}

#provenance-filter-stats {
    font-size: 9px;
    font-weight: bold;
    color: #9f6000;
    clear: left; 
    line-height: normal;
    margin-left: 5px;
}

#oldest-event-message {
    display: none;
    color: #9F6000;
    font-weight: bold;
    line-height: normal;
    float: left;
    clear: left;
    margin-top: 4px;
}

/* provenance search controls */

#provenance-search-container {
    position: absolute;
    right: 0px;
    top: 20px;
}

#provenance-search-button {
    height: 20px;
    line-height: 20px;
    width: 55px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #AAAAAA;
    color: #525252;
    float: left;
    margin-right: 0;
    padding: 0;
}

#provenance-search-overview {
    float: left;
    color: #9F6000;
    font-size: 9px;
    font-weight: bold;
    line-height: normal;
    float: left;
    margin-top: 6px;
    margin-right: 8px;
}

#clear-provenance-search {
    cursor: pointer;
    color:#31849B;
    text-decoration: underline;
    margin-left: 5px;
    display: none;
}

/* provenance search dialog */

#provenance-search-dialog {
    display: none;
    width: 454px;
    height: 515px;
    z-index: 1301;
}

#searchable-fields-container {
    width: 426px;
    height: 220px;
    border: 1px solid #aaa;
    padding: 5px;
    padding-right: 0px;
    overflow: auto;
}

div.searchable-field {
    margin-bottom: 5px;
}

div.searchable-field-name {
    width: 150px;
    float: left;
    line-height: 26px;
}

div.searchable-field-value {
    float: left;
}

input.searchable-field-input {
    width: 245px;
}

.start-date-setting, .start-time-setting, .end-date-setting, .end-time-setting {
    float: left;
}

.start-date-setting, .end-date-setting {
    margin-right: 15px;
}

.provenance-small-input {
    width: 183px;
}

.provenance-time-input {
    width: 215px;
}

#provenance-search-location-container {
    display: none;
}

#provenance-search-location {
    height: 18px;
    line-height: 18px;
}

/* event details dialog */

#event-details-dialog {
    display: none;
    width: 800px;
    height: 450px;
    z-index: 1301;
}

#event-details-dialog-content {
    margin-top: -10px;
    padding: 5px 11px
}

#event-details-tabs {
    background-color: transparent;
    border-bottom: 3px solid #666666;
    height: 21px;
    width: 778px;
}

#event-details-dialog div.details-tab {
    background: url("../images/bgTabContainer.png") repeat-x scroll 0 0 #EEEEEE;
    display: none;
    height: 330px;
    padding: 10px;
}

#event-details-tab-content div.settings-left {
    float: left;
    width: 420px;
}

#event-details-tab-content div.spacer {
    float: left;
    margin-right: 40px;
}

#event-details-tab-content div.settings-right {
    float: left;
    width: 292px;
}

div.flowfile-container {
    width: 282px;
    height: 120px;
    overflow: auto;
    border: 1px solid #aaa;
    padding: 5px;
    font-family: monospace;
    font-size: 12px;
}

#child-flowfiles {
    margin-top: 10px;
}

div.event-header {
    color: #264C58;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
}

#attributes-container {
    height: 290px;
    overflow: auto;
    border: 1px solid #aaa;
    padding: 5px;
}

div.detail-name {
    float: left;
    width: 145px;
    color: #527991;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}

div.detail-value {
    float: left;
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}

div.attribute-detail {
    margin-bottom: 5px;
}

div.attribute-name {
    float: left;
    width: 225px;
    color: #527991;
    font-size: 10px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}

div.attribute-value {
    float: left;
    width: 490px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}

#attributes-header {
    float: left;
}

#modified-attribute-toggle-container {
    float: right;
}

#modified-attribute-toggle-label {
    float: left;
}

#modified-attribute-toggle {
    float: left;
    margin-left: 5px;
    margin-right: 0;
}

div.modified-attribute-label {
    float: left;
    margin-left: 10px;
    width: 50px;
    font-style: italic;
    font-weight: normal;
    color: #666;
}

div.modified-attribute-value {
    float: left;
    width: 490px;
    margin-left: 175px;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}

div.event-detail {
    margin-bottom: 4px;
}

#input-content-download, #output-content-download, #replay-content {
    float: left;
    margin: 0;
}

#input-content-view, #output-content-view {
    float: left;
    margin-left: 5px;
}

div.content-detail-name {
    color: #527991;
    float: left;
    font-size: 10px;
    font-weight: bold;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    width: 90px;
}

div.content-detail-value {
    width: 265px;
    float: left;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
}

#content-tab-content div.settings-left {
    float: left;
    width: 356px;
}

#content-tab-content div.spacer {
    float: left;
    margin-right: 40px;
}

#content-tab-content div.settings-right {
    float: left;
    width: 356px;
}

#replay-details {
    margin-top: 20px;
}

/* provenance/lineage query dialog */

#provenance-query-dialog, #lineage-query-dialog {
    display: none;
    width: 400px;
    height: 135px;
    z-index: 1301;
}

#provenance-percent-complete, #lineage-percent-complete {
    width: 378px;
    border-radius: 0;
}

#provenance-percent-complete .ui-progressbar-value, #lineage-percent-complete .ui-progressbar-value {
    border-radius: 0;
}

div.progress-label {
    color: #000000;
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: -19px;
    width: 378px;
}

/* provenance table */

#provenance-table {
    position: absolute;
    top: 45px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid #666;
    overflow: hidden;
}

/* provenance lineage */

#provenance-lineage {
    border: 1px solid #aaa;
}

#provenance-lineage-loading-container {
    position: absolute;
    left: 0;
    top: 0;
}

#provenance-lineage-loading {
    background-color: transparent;
    height: 16px;
    width: 16px;
}

#provenance-lineage-close-container {
    position: absolute;
    right: 1px;
    top: 2px;
}

#provenance-lineage-downloader {
    float: left;
    height: 16px;
    width: 16px;
    background: url("../images/iconExportLineage.png") no-repeat scroll left center transparent;
    cursor: pointer;
    margin-right: 2px;
}

#provenance-lineage-closer {
    float: left;
    height: 16px;
    width: 16px;
    background: url("../images/iconClose.png") no-repeat scroll left center transparent;
    cursor: pointer;
}

#provenance-lineage-slider-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 350px;
    height: 35px;
}

#provenance-lineage-slider-container {
    margin-left: 10px;
}

#provenance-lineage-slider {
    border-radius: 0;
}

#provenance-lineage-slider .ui-slider-handle {
    border-radius: 0;
    border: 1px solid #999;
    outline: none;
}

#event-timeline {
    margin-top: 8px;
    color: #9F6000;
    font-weight: bold;
    line-height: normal;
}

#event-time {
    float: left;
}

#event-timezone {
    float: left;
}

#provenance-lineage-context-menu {
    display: none;
    border: 1px solid #000;
    width: 140px;
    position: absolute;
    background-color: #fff;
    padding: 3px 0;
}

div.lineage-view-event {
    background: url("../images/iconDetails.png") no-repeat scroll center center transparent;
}

div.lineage-view-parents {
    background: url("../images/iconExpandParents.png") no-repeat scroll center center transparent;
}

div.lineage-collapse-parents {
    background: url("../images/iconCollapseParents.png") no-repeat scroll center center transparent;
}

div.lineage-view-children {
    background: url("../images/iconExpandChildren.png") no-repeat scroll center center transparent;
}

div.lineage-collapse-children {
    background: url("../images/iconCollapseChildren.png") no-repeat scroll center center transparent;
}

div.provenance-lineage-menu-item {
    padding: 3px 6px;
    cursor: pointer;
}

div.provenance-lineage-menu-item.hover {
    color: #027fd2;
}

div.provenance-lineage-menu-item-img {
    float: left;
    width: 16px;
    height: 16px;
}

div.provenance-lineage-menu-item-text {
    width: 106px;
    margin-left: 6px;
    line-height: 16px;
    float: left;
    font-family: Verdana;
    font-size: 8pt;
}

path.link.selected {
    stroke: #FFCC00;
}

g.event circle.selected {
    fill: #FFCC00;
}

text.event-type {
    cursor: pointer;
}

text.event-type.expand-parents, text.event-type.expand-children {
    font-weight: bold;
    font-size: 12px;
}

g.flowfile circle.context, g.event circle.context {
    stroke: #b70303;
    stroke-width: 1.5px;
}

path.flowfile-icon-base {
    pointer-events: none;
}

path.flowfile-icon-base-outline {
    pointer-events: none;
}

path.flowfile-icon-mid {
    pointer-events: none;
}

path.flowfile-icon-mid-outline {
    pointer-events: none;
}

path.flowfile-icon-arc {
    pointer-events: none;
}

path.flowfile-icon-top {
    pointer-events: none;
}