/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#settings {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
}

#settings-header-text {
    height: 35px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

#settings-container {
    margin-top: -10px;
}

#general-settings {
    padding-left: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

#general-settings input, #general-settings textarea {
    font-size: 11px !important;
    font-family: Verdana;
    width: 350px;
    vertical-align: middle;
}

#data-flow-comments-field {
    height: 100px;
}

#settings-buttons {
    margin-left: 260px;
    margin-top: 10px;
}

#settings-save, #settings-cancel {
    float: left;
}

#archive-flow-link {
    margin-left: 10px;
}