/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#settings {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
    padding: 20px;
}

#settings-header-text {
    height: 35px;
    font-size: 16px;
    font-weight: bold;
}

#settings-container {
    margin-top: 18px;
}

#new-service-or-task {
    float: right;
    width: 19px;
    height: 19px;
    margin-top: 4px;
    cursor: pointer;
}

span.expansion-button {
    width: 10px;
    height: 10px;
    float: left;
}

span.ancestor-type {
    font-weight: bold;
}

span.ancestor-type-rollup {
    margin-left: 3px;
    color: #aaa;
}

/* settings tabs */

#settings-tabs-container {
    border-bottom: 2px solid #666;
}

#settings-tabs {
    float: left;
}

.settings-tab {
    display: block;
    padding: 0 5px;
    height: 26px;
    float: left;
    color: #666;
    background-color: #ccc;
    border-left: 1px solid #b5b5b5;
    border-top: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    line-height: 26px;
    font-weight: bold;
}

.settings-selected-tab {
    color: #fff;
    background-color: #666;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
}

#settings-tab-background {
    height: 200px;
    margin-top: 1px;
    background-color: transparent;
    background: linear-gradient(to bottom, #dddddd, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#dddddd, endColorstr=#ffffff);
}

#settings div.configuration-tab {
    display: none;
}

div.settings-table {
    position: absolute;
    top: 115px;
    left: 25px;
    bottom: 20px;
    right: 25px;
    border: 1px solid #666;
    overflow: hidden;
    background-color: #fff;
}

span.sorted {
    text-decoration: underline;
}

#settings-refresh-button {
    height: 24px;
    width: 26px;
    float: left;
}

#settings-last-refreshed-container {
    float: left;
    color: #666;
    font-weight: normal;
    margin-top: 6px;
    margin-left: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#settings-loading-container {
    float: left;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-top: 4px;
    margin-left: 3px;
}

#settings-last-refreshed {
    font-weight: bold;
}

#settings-refresh-required-icon {
    float: left;
    margin-top: 4px;
    margin-left: 3px;
    width: 18px;
    height: 16px;
    background-image: url(../images/iconAlert.png);
}

/* general */

#general-settings {
    margin-top: -190px;
    margin-left: 10px;
}

#general-settings input, #general-settings textarea {
    font-size: 11px !important;
    font-family: Verdana;
    width: 350px;
    vertical-align: middle;
}

#data-flow-comments-field {
    height: 100px;
}

#settings-buttons {
    margin-left: 304px;
    margin-top: 10px;
}

#settings-save {
    float: left;
}

#archive-flow-link {
    margin-left: 10px;
}