/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
body {
    display: block;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.title {
    font-weight: bold;
    color: #294c58;
    font-size: 18px;
}

.hidden {
    display: none;
}

/* tables */

table {
    border-collapse: collapse;
}

table th {
    background-image: url(../images/bgTableHeader.png);
    background-repeat: repeat-x;
    border-bottom: 1px solid #365C6A;
    border-right: 1px solid #172B31;
    height: 26px;
    padding: 0 2px;
    color: #fff;
    white-space: nowrap;
}

table td {
    padding: 2px;
}

/* links */

a, a:link, a:visited {
    cursor: pointer;
    color: #1e373f;
    text-decoration: none;
    border: none;
}

a:hover, a:active {
    color: #264c58;
    text-decoration: underline;
    border: none;
}

.clear {
    clear: both;
}