/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic|Noto+Serif:400,400italic,700,700italic|Droid+Sans+Mono:400";

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
    width: 62.5em;
    margin: 0 auto;
    display: block;
    font-family: "Open Sans","DejaVu Sans",sans-serif;
}

.title {
    font-weight: bold;
    color: #7a2518;
    font-size: 18px;
}

.hidden {
    display: none;
}

/* tables */

table {
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-left: 6px solid #ccc;
    color: #666;
    display: block;
    margin-bottom: 12px;
    padding: 5px 8px;
}

tr td {
    font-size: 14px;
    vertical-align:top;
    text-align:left;
    padding: 4px;
    border-width: 0;
}

tr th {
    font-size: 16px;
    vertical-align:top;
    text-align:left;
    padding: 4px;
    border-width: 0;
    white-space: nowrap;
}

/* links */

a, a:link, a:visited {
    cursor: pointer;
    color: #2156a5;
    text-decoration: none;
    border: none;
}

a:hover, a:active {
    color: #2156a5;
    text-decoration: none;
    border: none;
}

.clear {
    clear: both;
}

/* p */

p {
    font-family: 'Noto Serif', 'DejaVu Serif', serif;
    font-size: 16px;
}

p strong {
    font-weight: bold;
}

/* ul li */

ul li {
    font-family: 'Noto Serif', 'DejaVu Serif', serif;
    font-size: 16px;
}

ul li strong {
    font-weight: bold;
}

h2 {
    font-weight: normal;
    color: #ba3925;
}

/* pre */

pre {
    font-size: 14px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-left: 6px solid #ccc;
    color: #666;
    margin-bottom: 10px;
    padding: 5px 8px;
}